<!--
  This page notifies the user that the page they are trying to access is not available
 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Page Not Found - PyroNeon</title>
  <link rel="icon" href="static/Global/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/PyroNeon/index.css">
</head>

<body>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="static/PyroNeon/Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/products">Products</a>
  <a href="/community">Community</a>
</div>


<article>

  <img src="static/PyroNeon/tumult-warning-sign.png" alt="Warning Sign" style="max-width: 25%; max-height: 25%; margin-bottom: -3%;">

  <header style="margin-bottom: -2%;">
    <h1>
      Page Not Found
    </h1>
  </header>

  <section>
    <p>
      <div class="paragraph">
        <p>
          Unfortunately, this page either isn't ready yet, or doesn't exist.
          If this problem persists or you're sure this page should be here, feel free to contact
          PyroNeon Software for support at: <b> pyroneonbusiness@gmail.com </b>
          <br><br>
          For more contact options, visit our support page <a href="/community" style="text-decoration: underline; color: blue;">here</a>
        </p>
      </div>
  </section>

</article>



<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="https://www.reddit.com/r/pyroneon/">Reddit</a>
  <a href="https://twitter.com/PyroNeonGames">Twitter</a>
  <a href="/community">Contact Us</a>
</div>

</body>
</html>
