<!--
  This page displays contact information for the user
  to get in touch with PyroNeon for support, including
  info like email, social media, etc.
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Community - PyroNeon</title>
  <link rel="icon" href="static/Global/img/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/PyroNeon/css/index.css">
</head>

<body>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="static/PyroNeon/img/Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/products">Products</a>
  <a href="/community">Community</a>
</div>

<!-- Banner -->
<img src="static/PyroNeon/img/banner.png" alt="PyroNeon Banner" id="logoBanner">

<h1 style="color: gold;">
  Community Spaces
</h1>

<!-- Social Media links -->
<a href="https://www.reddit.com/r/pyroneon/" id="socialMediaLink">
  <div class="socialLinkHead">
    <img src="https://www.redditinc.com/assets/images/site/reddit-logo.png" alt="Reddit Logo"/>
    <h1>r/pyroneon</h1>
  </div>

  <p>Get in touch with the communities of any PyroNeon product, with dedicated subreddits for each one.
    Learn new tips or tricks, get updates on development, news, and participate in the discussion.</p>
</a>

<a href="https://twitter.com/PyroNeonGames" id="socialMediaLink">
  <div class="socialLinkHead">
    <img src="https://www.pngkey.com/png/full/2-27646_twitter-logo-png-transparent-background-logo-twitter-png.png" alt="Twitter Logo"/>
    <h1>@PyroNeonGames</h1>
  </div>

  <p>Receive updates and news about development on products, new updates, products, etc. on our easy-to-read twitter feed. You'll only see content
    from us, rather than the community as a whole.</p>
</a>

<a href="https://www.youtube.com/channel/UC6zES3DeJISDKGpi5Ik_JBw" id="socialMediaLink">
  <div class="socialLinkHead">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/YouTube_social_red_circle_%282017%29.svg/1200px-YouTube_social_red_circle_%282017%29.svg.png" alt="Youtube Logo"/>
    <h1>PyroNeon Software</h1>
  </div>

  <p>View release trailers, update videos, guides, walkthroughs, and other content on our Youtube channel. Subscribe to see our new videos in your feed, and turn on
    post notifications to be updated whenever a new video is uploaded.</p>
</a>

<p id="disclaimer">For business inquiries, email us at pyroneonbusiness@gmail.com</p>



<!-- Embedded twitter feed -->
<!-- <a class="twitter-timeline" data-dnt="true" data-theme="dark" href="https://twitter.com/PyroNeonGames?ref_src=twsrc%5Etfw">Tweets by PyroNeonGames</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="https://www.reddit.com/r/pyroneon/">Reddit</a>
  <a href="https://twitter.com/PyroNeonGames">Twitter</a>
  <a href="/community">Community</a>
</div>

</body>
</html>
