<!--
  This page displays contact information for the user
  to get in touch with PyroNeon for support, including
  info like email, social media, etc.
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Community - PyroNeon</title>
  <link rel="icon" href="/static/Global/img/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/PyroNeon/css/index.css">

  
  
</head>

<body>
<!-- Account Header above the navbar -->
{% include '/components/account-header.html' %}
<!-- Include global navbar -->
{% include '/components/navbar.html' %}

<!-- Banner -->
<img src="/static/PyroNeon/img/banner.png" alt="PyroNeon Banner" id="logoBanner">

<h1 style="color: gold;">
  Community Spaces
</h1>

<!-- Social Media links -->
<a href="https://www.reddit.com/r/pyroneon/" id="socialMediaLink">
  <div class="socialLinkHead">
    <img src="https://www.redditinc.com/assets/images/site/reddit-logo.png" alt="Reddit Logo"/>
    <h1 style="padding-left: 2vw; padding-right: 2vw;">r/pyroneon</h1>
  </div>

  <p>Get in touch with the communities that use PyroNeon Software products.
    Learn new tips or tricks, get updates on development, news, and participate in the discussion.</p>
</a>

<a href="https://twitter.com/PyroNeonNet" id="socialMediaLink">
  <div class="socialLinkHead">
    <img src="/static/Global/img/twitter-icon.png" alt="Twitter Logo"/>
    <h1>@PyroNeonNet</h1>
  </div>

  <p>Receive updates and news about development on products, new updates, products, etc. on our easy-to-read twitter feed. You'll only see content
    from us, rather than the community as a whole.</p>
</a>

<a href="https://www.youtube.com/channel/UC6zES3DeJISDKGpi5Ik_JBw" id="socialMediaLink">
  <div class="socialLinkHead">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/YouTube_social_red_circle_%282017%29.svg/1200px-YouTube_social_red_circle_%282017%29.svg.png" alt="Youtube Logo"/>
    <h1>PyroNeon Software</h1>
  </div>

  <p>View release trailers, update videos, guides, walkthroughs, and other content on our Youtube channel. Subscribe to see our new videos in your feed, and turn on
    post notifications to be updated whenever a new video is uploaded.</p>
</a>

<a href="/contact-us/email" id="socialMediaLink">
  <div class="socialLinkHead">
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Circle-icons-mail.svg" alt="Email Icon"/>
    <h1 style="padding-left: 3vw; padding-right: 3vw;">Email Us</h1>
  </div>

  <p>Get in touch with us directly here. Get support for issues you're facing, report bugs or violations of our TOS, and contact us for business opportunities.</p>
</a>

<div class="paragraph" style="padding-bottom: 10vh; padding-top: 5vh;">
  <p style="margin: 0; padding: 0;">
    For business inquiries, email us at pyroneonbusiness@gmail.com <br><br>
    <a href="/accounts/legal/terms-of-service" style="color: gold; text-decoration: none; padding-right: 3vh;">Terms of Service</a>
    <a href="/accounts/legal/privacy-policy" style="color: gold; text-decoration: none;">Privacy Policy</a>
  </p>
</div>

<!-- Include global footer -->
{% include '/components/footer.html' %}

</body>
</html>
