<!--
     This is the landing page for the entire PyroNeon website.
     Here you will find information about the company as a whole.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>PyroNeon Software</title>
  <link rel="icon" href="/static/Global/img/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/PyroNeon/css/index.css">

  <!-- Default buildscript handles included HTML elements, and any included JavaScript. -->
  <script type="module" id="buildscript" src="/static/Global/js/default-buildscript.js"></script>
</head>

<body>

<!-- Account Header above the navbar -->
<div data-include="account-header"></div>
<!-- Include global navbar -->
<div data-include="navbar"></div>

<article>

  <!-- Banner -->
  <img src="/static/PyroNeon/img/banner.png" alt="PyroNeon Banner" id="logoBanner">

<br>

<h1 style="padding-top: 2rem;">
  What We Do
</h1>

<div class="paragraph">
  <p>
    Hello! PyroNeon Software is a small indie software company,
    focusing mainly on game production.
    Check out some of our products <a href="/products" style="color:gold;">here</a>.
  </p>
</div>


<h1 style="padding-top: 2rem;">
  Our Catalog
</h1>

<div class="paragraph">
  <p>
    Check out our stuff on the <a href="/products" style="color:gold;">Products</a> page, where you can look through our whole library
    and find something that interests you.
  </p>
</div>


<h1 style="padding-top: 2rem;">
  The Team
</h1>

<div class="paragraph">
  <p>
    Our products take a lot of time and hard work to create.
    If you enjoy playing our games or using our software, please
    consider supporting us by sharing our work with your friends!
  </p>
</div>

<!-- All Team Members shown here. -->
<div class="teamMembers">
  <a href="https://github.com/JLeopolt" id="teamProfile">
         <img src="/static/PyroNeon/img/team/jleopolt-pfp.png" alt="JLeopolt Profile">
         <h1>JLeopolt</h1>
         <h2>Founder</h2>
         <h3>@JLeopolt</h3>
  </a>
  <a href="https://github.com/Ivan8or" id="teamProfile">
         <img src="/static/PyroNeon/img/team/ivan8or-pfp.png" alt="Ivan8or Profile">
         <h1>Ivan8or</h1>
         <h2>Consultant</h2>
         <h3>@Ivan8or</h3>
  </a>
  <!-- Careers Offering -->
  <a href="/404" id="teamProfile">
         <h1>Want to Help?</h1>
         <h2 style="color: gold;">Look For Openings</h2>
         <h3>#PyroNeonCareers</h3>
  </a>
</div>


<!-- Bottom disclaimer -->
<div class="paragraph" style="padding-top: 6vh; padding-bottom: 10vh;">
  <p style="font-size: 1rem;">
    Website created and maintained by PyroNeon Software.<br>
    For support, <a href="/contact-us/email" style="color: gold;">contact us</a>.
  </p>
</div>

</article>

<!-- Include global footer -->
<div data-include="footer"></div>

</body>
</html>
