<!--
     This is the landing page for the entire PyroNeon website.
     Here you will find information about the company as a whole.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>PyroNeon Software</title>
  <link rel="icon" href="static/Global/img/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/PyroNeon/css/index.css">
</head>

<body>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="static/PyroNeon/img/Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/products">Products</a>
  <a href="/community">Community</a>
</div>


<article>

  <!-- Banner -->
  <img src="static/PyroNeon/img/banner.png" alt="PyroNeon Banner" id="logoBanner">

<br>

<h1 style="padding-top: 2rem;">
  What We Do
</h1>

<div class="paragraph">
  <p>
    We are a small indie software company, focusing mainly
    on game production. Check out some of our upcoming projects
    on the 'Games' tab. Let's make something fun!
  </p>
</div>


<h1>
  The Team
</h1>

<div class="paragraph">
  <p>
    Our team may be (particularly) small, but don't be fooled,
    our games are great fun! And as such, they take a lot of
    time and effort to create. Please consider supporting
    our small studio by playing our games with your friends!
  </p>
</div>

<!-- All Team Members shown here. -->
<div class="teamMembers">
  <a href="https://github.com/JLeopolt" id="teamProfile">
         <img src="static/PyroNeon/img/team/jleopolt-pfp.png" alt="JLeopolt Profile">
         <h1>JLeopolt</h1>
         <h2>Founder</h2>
         <h3>@JLeopolt</h3>
  </a>
  <!-- Careers Offering -->
  <a href="/404" id="teamProfile">
         <h1>Want to Help?</h1>
         <h2 style="color: gold;">Look For Openings</h2>
         <h3>#PyroNeonCareers</h3>
  </a>
</div>



<h1 style="padding-top: 3rem;">
  Our Catalog
</h1>

<div class="paragraph">
  <p>
    Although we don't have the biggest lineup, some of our work might interest you!
    Check it out on the <a href="/products" style="color:gold;">Products</a> page, where you can look through the whole library
    and find something that interests you.
  </p>
</div>



<!-- Bottom disclaimer -->
<div class="paragraph" style="padding-top: 6rem;">
  <p style="font-size: 1rem;">
    Website created and maintained by PyroNeon Software.<br>
    For support, contact pyroneonbusiness@gmail.com.
  </p>
</div>

</article>

<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="https://www.reddit.com/r/pyroneon/">Reddit</a>
  <a href="https://twitter.com/PyroNeonGames">Twitter</a>
  <a href="/community">Community</a>
</div>

</body>
</html>
