<!--
     This is the landing page for the entire PyroNeon website.
     Here you will find information about the company as a whole.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>PyroNeon Software</title>
  <link rel="icon" href="static/Global/img/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/PyroNeon/css/index.css">
</head>

<body>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="static/PyroNeon/img/Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/products">Products</a>
  <a href="/community">Community</a>
</div>


<article>

  <!-- Banner -->
  <img src="static/PyroNeon/img/banner.png" alt="PyroNeon Banner" style="max-width: 50%; max-height: 50%;">

<br>

<header>
  <h1>
    About Us
  </h1>
</header>

<div class="paragraph" style="padding-bottom: 5%;">
  <p style="margin-top: -50px;">
    We are a small indie software company, focusing mainly
    on game production. Check out some of our upcoming projects
    on the 'Games' tab. Let's make something fun!
  </p>
</div>



<header>
  <h1>
    The Team
  </h1>
</header>

<div class="paragraph">
  <p style="margin-top: -50px;">
    Our team may be (particularly) small, but don't be fooled,
    our games are great fun! And as such, they take a lot of
    time and effort to create. Please consider supporting
    our small studio by playing our games with your friends!
  </p>
</div>

<a href="https://github.com/JLeopolt">
       <img src="static/PyroNeon/img/ranee-pfp-high-vis.png" alt="JLeopolt Profile" style="max-width: 150px; max-height: 150px;">
       <h1 style="color: white; font-size: 30px; margin-top: -4px;">
         JLeopolt
       </h1>
       <p style="color: white; font-size: 20px; margin-top: -16px;">
         Founder
       </p>
</a>

<div class="paragraph" style="padding-bottom: 5%; padding-top: 5%; inline-size: 100%;">
  <p style="font-size: 20px;">
    Website created and hosted by PyroNeon Software.
    For support, contact pyroneonbusiness@gmail.com.
  </p>
</div>

</article>

<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="https://www.reddit.com/r/pyroneon/">Reddit</a>
  <a href="https://twitter.com/PyroNeonGames">Twitter</a>
  <a href="/community">Contact Us</a>
</div>

</body>
</html>
