<!--
  This page will list every product by PyroNeon,
  with redirect links to each product's respective
  homepage.
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Products - PyroNeon</title>
  <link rel="icon" href="static/Global/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/PyroNeon/index.css">
</head>

<body>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="static/PyroNeon/Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/products">Products</a>
  <a href="/community">Community</a>
</div>


<div class="grid-container">

  <div class="grid-item" style="grid-area: head1">
    <a href="/PuzzleMinefield">
      <img src="static/PuzzleMinefield/hd-banner.png" alt="Puzzle Minefield">
      <div class="paragraph" style="margin-top: -2%;">
        <p>
          PyroNeon's first game made completely from the ground up; Puzzle Minefield is a familiar minefield-clearing game, but with a
          competitive modern edge to make it more replayable and entertaining. Compete with your friends or with random people online
          to see who's number one.
        </p>
      </div>
    </a>
  </div>

  <div class="grid-item" style="grid-area: side1;">
    <a href="/clipnp">
      <img src="static/CLIPnP/CLIPnP-Logo.png" alt="CLIPnP">
      <div class="paragraph" style="margin-top: -6%;">
        <p>
          This lightweight yet powerful Java command-line interface can automatically port-forward for you, with just a single command and without having to
          touch your network settings or router.
        </p>
      </div>
    </a>
  </div>

  <div class="grid-item" style="grid-area: slab1; padding-bottom: 10%;">
    <a href="/scraps">
      <img src="static/Scraps/Scraps-Title-Logo.png" alt="Scraps">
      <div class="paragraph" style="margin-top: -2%;">
        <p>
          A punishingly difficult custom-plugin based minecraft server; a constant struggle against the world and other players to survive.
        </p>
      </div>
    </a>
  </div>

</div>



<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="https://www.reddit.com/r/pyroneon/">Reddit</a>
  <a href="https://twitter.com/PyroNeonGames">Twitter</a>
  <a href="/community">Contact Us</a>
</div>

</body>
</html>
