<!--
  This page will list every product by PyroNeon,
  with redirect links to each product's respective
  homepage.
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Products - PyroNeon</title>
  <link rel="icon" href="/static/Global/img/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/PyroNeon/css/index.css">
  <link rel="stylesheet" href="/static/Global/css/slideshow.css">
  <link rel="stylesheet" href="/static/PyroNeon/css/grid-listing.css">
</head>

<body>

  <!-- Account Header above the navbar -->
  {% include '/components/account-header.html' %}
  <!-- Include global navbar -->
  {% include '/components/navbar.html' %}

<!--  Slideshow  -->
<div class="slideshow-container">

  <div class="slide fade">
    <a href="/scraps">
      <img src="/static/Scraps/img/promo.png" style="width:100%; height:100%;">
    </a>
  </div>

  <div class="slide fade">
    <a href="/PuzzleMinefield">
      <img src="/static/PuzzleMinefield/img/promo.png" style="width:100%; height:100%;">
    </a>
  </div>

  <div class="slide fade">
    <a href="/clipnp">
      <img src="/static/CLIPnP/img/promo.png" style="width:100%; height:100%;">
    </a>
  </div>

  <div class="slide fade">
    <a href="/musign">
      <img src="/static/muSign/img/promo.png" style="width:100%; height:100%;">
    </a>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

  <div style="text-align:center; padding-top:1vh;">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>

</div>

<!-- Add function to the slideshow -->
<script src="/static/PyroNeon/js/slideshow.js"></script>
<noscript><div class="paragraph" style="color:white;"><p>Oops! Javascript is disabled on your device, would you turn it on? We promise to only use it for website stuff!</p></div></noscript>


<div class="grid-container" style="padding-top: 5vh; padding-bottom: 5vh;">

  <a href="/PuzzleMinefield">
    <div class="grid-item">
      <img src="/static/PuzzleMinefield/img/promo-card.png" alt="Puzzle Minefield">
      <div class="paragraph">
        <h1>Puzzle Minefield</h1>
        <h2>Playable Alpha</h2>
        <p style="padding-top: 2vh; padding-bottom: 2vh;">
          Puzzle Minefield is a familiar minefield clearing game, but with a
          competitive modern edge to make it more replayable and entertaining.
          <br>
        </p>
        <h3 style="padding-bottom: 1vh;">Puzzle Solving, Free-To-Play, Online</h3>
      </div>
    </div>
  </a>

  <div class="grid-item">
    <a href="/scraps">
      <img src="/static/Scraps/img/promo-card.png" alt="Scraps">
      <div class="paragraph">
        <h1>Scraps</h1>
        <h2>Open Beta</h2>
        <p style="padding-top: 2vh; padding-bottom: 2vh;">
          A punishingly difficult custom-plugin based minecraft server. Everyone loses in Scraps, but maybe you can lose the least.
          <br>
        </p>
        <h3 style="padding-bottom: 1vh;">Survival, Minecraft, Free-To-Play, Online</h3>
      </div>
    </a>
  </div>

  <div class="grid-item">
    <a href="/clipnp">
      <img src="/static/CLIPnP/img/promo-card.png" alt="CLIPnP">
      <div class="paragraph">
        <h1>CLIPnP</h1>
        <h2>Open Beta</h2>
        <p style="padding-top: 2vh; padding-bottom: 2vh;">
          This lightweight command line interface can port-forward with just a single command, and without having to
          touch your router.
          <br>
        </p>
        <h3 style="padding-bottom: 1vh;">Network Tool, Free-To-Use, Open Source</h3>
      </div>
    </a>
  </div>

  <div class="grid-item">
    <a href="/musign">
      <img src="/static/muSign/img/promo-card.png" alt="muSign Tool">
      <div class="paragraph">
        <h1>μSign</h1>
        <h2>Release</h2>
        <p style="padding-top: 2vh; padding-bottom: 2vh;">
          μSign (pronounced muSign) is an open-source, lightweight GUI .EXE signing python program.
          <br>
        </p>
        <h3 style="padding-bottom: 1vh;">Developer Tool, Free-To-Use, Open Source, GUI</h3>
      </div>
    </a>
  </div>

</div>

<div class="experimental-bar">
  <h1>Experimental</h1>
</div>

<div class="grid-container" style="padding-top: 5vh; padding-bottom:15vh;">

  <div class="grid-item">
    <a href="/experimental/TUMULT">
      <img src="/static/TUMULT/img/promo-card.png" alt="TUMULT">
      <div class="paragraph">
        <h1>TUMULT</h1>
        <h2>Tech Demo</h2>
        <p style="padding-top: 2vh; padding-bottom: 2vh;">
          Gather resources, build structures, and progress your technology by researching and taking advantage of real-world science.
          Some say that in this world there are the hunters, and the hunted. In Tumult, you're both.
          <br>
        </p>
        <h3 style="padding-bottom: 1vh;">MMO, Survival, Free-To-Demo, Sandbox</h3>
      </div>
    </a>
  </div>

  <div class="grid-item">
    <a href="/experimental/mudtool">
      <img src="/static/MUDTool/img/promo-card.png" alt="MUD Tool">
      <div class="paragraph">
        <h1>MUD Tool</h1>
        <h2>Deprecated</h2>
        <p style="padding-top: 2vh; padding-bottom: 2vh;">
          An open-source web media download tool, with support for file conversion, and automatic website scraping.
          <br>
        </p>
        <h3 style="padding-bottom: 1vh;">Downloader, Free-To-Use, Open Source, GUI</h3>
      </div>
    </a>
  </div>

</div>

<!-- Include global footer -->
{% include '/components/footer.html' %}

</body>
</html>
