<!--
     This is the product page for TUMULT.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TUMULT</title>
  <link rel="icon" href="/static/TUMULT/img/logo-notext.png" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/TUMULT/css/index.css">
  <link rel="stylesheet" href="/static/Global/css/simple-button.css">
  <link rel="stylesheet" href="/static/Accounts/css/alert_popup.css">
</head>

<body>

  <!-- Account Header above the navbar -->
  <div class="account-navbar">
    Welcome, <span class="set-to-username" style="color: #FFBB01;">Guest</span>!
    <button class="submitButton" id="headerLoginButton" onclick="window.location.href = '/accounts/login';">Login</button>
    <button class="greenButton" id="headerRegisterButton" onclick="window.location.href = '/accounts/register';">Sign Up</button>

    <button class="submitButton" id="headerDashboardButton" onclick="window.location.href = '/accounts/account-dashboard';">Dashboard</button>
    <button class="redButton" id="headerLogoutButton" onclick="localStorage.removeItem('pn-jwt'); window.location.href = '/';">Logout</button>
  </div>
  <!-- Handles the accounts header functionality. -->
  <script type="module" src="/static/Accounts/js/accounts_header.js"></script>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="/static/PyroNeon/img/Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/products">Products</a>
  <a href="/community">Community</a>
</div>

<!-- Experimental projects warning alert box. -->
<div class="alert" id="alert_box" style="display: flex; background-color: #EE7D00;">
  <div class="alert_message">This is an experimental project. It is not a complete product, and it's development may be paused.</div>
  <!-- Hide the alert box, then scroll to the top of the page. -->
  <span class="close_alert_button" onclick="this.parentElement.style.display='none'; window.location.href = '#';">&times;</span>
</div>


<!-- Banner -->
<img src="/static/TUMULT/img/titlecard.png" alt="TUMULT Banner" id="banner" style="margin-bottom: -3%;">

<div class="paragraph">
  <h1 style="padding-top: 0;">
    About
  </h1>
  <p>
    Some say that in this world there are the hunters, and the hunted. In Tumult, you're both.
    Gather resources, build structures, and progress your technology by researching and taking advantage of real-world science.
    Start from the ground and crawl to the top in an endless struggle to balance survival with progress.
    Research different branches of science, and combine your knowledge in them to invent newer, more powerful inventions and weapons.
    Complete your quest to obtain all knowledge by harnessing the power of the atom. Will you use it to supply yourself with endless power,
    wipe out enemies with unstoppable nuclear strikes, or both?
  </p>

  <h1>
    History
  </h1>
  <p>
    Tumult was the first project ever developed by PyroNeon Software. It's development only lasted a few months, but it laid a foundation for our other games.
    Many of the core game engine elements from Tumult were used in our game Puzzle Minefield, for the LibGDX Java framework. Tumult was written in Java, utilizing
    the Java Swing graphical framework.
  </p>

  <h1>Technical Demonstration</h1>
  <p>
    Development of Tumult has been paused indefinitely while we work on other games.
    The progress we have is now available as a free-to-play technical demo.
    Download the playable technical demo below.
  </p>
  <br>
  <button style="background-color: #36A6ED;" onclick="window.location.href='/experimental/TUMULT/download-jar';">
    Download As .JAR
  </button>
  <button style="background-color: #36A6ED;" onclick="window.location.href='/experimental/TUMULT/download-exe';">
    Download As .EXE
  </button>
  <button style="background-color: #36A6ED;" onclick="window.location.href='https://github.com/JLeopolt/TUMULT-Releases';">
    Github
  </button>

</div>

<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="/accounts/legal/terms-of-service">TOS</a>
  <a href="/accounts/legal/privacy-policy">Privacy Policy</a>
  <a href="/community">Community</a>
</div>

</body>
</html>
