/* Import global styles */
@import "/static/Global/css/global.css";

/* Adjust accordingly for mobile */
@media (orientation: portrait) {
  .navbar a {
    font-size: 2vh;
    padding: 1vw 2vw;
  }
  .footer a{
    font-size: 1.5vh;
  }
}


/* Style the body */
body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: NewTown;
  background-color: rgba(0,0,0,0.8);
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: auto;
}

#backgroundVideo {
  overflow:hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;

  width: 100%;
  height: 100%;
  z-index: -1;
}

#logoBanner{
  margin: auto;
  max-width: 50%;
  max-height: 50%;
}

.paragraph, h1, h3{
  text-shadow: 3px 3px 0px black;
  font-family: HighwayGothic;
  color:white;
}
.paragraph {
  width: auto;
  inline-size: 50%;
  overflow-wrap: break-word;
  margin: auto;
  text-align:center;
  display: block;

  text-decoration: none;

  padding-bottom: 3vh;
}

h1{
  margin: 0;
  font-size: 3.125vw;
}
h3 {
  margin: 0;
  font-size: 2.6vw;
}

p{
  margin: 0;
  font-size: 1.5625vw;
}
a{
  text-decoration: none;
}
i{
  margin:0;
  font-size: 1.5625vw;
}


.slide{
  background-color: black;
}
.screenshot{
  max-width: 50%;
  max-height: 50%;
}

@media (orientation: portrait) {
  #logoBanner{
    max-width: 100%;
    max-height: 100%;
  }
  .paragraph, h1{
    text-shadow: 2px 2px 0px black;
  }
  .paragraph {
    inline-size: 90%;
  }
  h1{
    font-size: 5vh;
  }
  p{
    font-size: 3vh;
  }
  h3 {
    font-size: 4vh;
  }
  i{
    font-size: 2vh;
  }
}






ul{
  list-style-type: none;
  padding: 0;
  /* width:75%; */
  margin-left: auto;
  margin-right: auto;
}

ul li {
  /* background-color: #393939; */
  padding: 12px;
  font-family: HighwayGothic;
  /* font-size: 40px; */
  font-size: 2.083vw;
}

li a{
  text-decoration: none;
  display: inline;
}
