/* Import navbar/footer stuff */
@import "../../Global/css/header-navbar.css";

/* Make the navbar 4x */
.navbar a {
  width: calc(25% - 50px);
}

/* Style the body */
body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: NewTown;
  background-color: rgba(0,0,0,0.8);
  margin: 0;
  padding: 0;
  text-align: center;
  /* overflow: hidden; */
}

p {
  font-size: 1.5625vw;
}

/* Increase the font size of the heading */
header h1 {
  font-size: 3.125vw;
}


#backgroundVideo {
  overflow:hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;

  width: 100%;
  height: 100%;
}

.paragraph {
  inline-size: 50%;
  overflow-wrap: break-word;
  margin: auto;
}

.main{
  position: relative;
  left:0;
  margin-left: auto;
  margin-right: auto;
}
.row header h1{
  /* font-size: 60px; */
  font-size: 3.125vw;
  text-shadow: 3px 3px 0px black;
  font-family: HighwayGothic;
  color:white;
}

article{
  text-align:center;
  display: block;
  width: 100%;
  color:white;
  text-decoration: none;
  font-family: HighwayGothic;

  text-shadow: 3px 3px 0px black;
}
article p{
  /* font-size: 30px; */
  font-size: 1.5625vw;
}
article a{
  text-decoration: none;
}
.screenshot{
  border: 5px solid white;
}
article header h3 {
  /* font-size: 50px; */
  font-size: 2.6vw;
}





ul{
  list-style-type: none;
  padding: 0;
  /* width:75%; */
  margin-left: auto;
  margin-right: auto;
}

ul li {
  /* background-color: #393939; */
  padding: 12px;
  font-family: HighwayGothic;
  /* font-size: 40px; */
  font-size: 2.083vw;
}

li a{
  text-decoration: none;
  display: inline;
}




button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  font-size: 0.8333vw;
}
button:hover {
  background-color: #2b632d;
  color: white;
}
