<!--
  This is the dashboard for logged in users to manage their accounts. If accessed while not logged in, it will redirect to the log in page.
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Account Dashboard - PyroNeon</title>
  <link rel="icon" href="/static/Global/img/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/Accounts/css/account_dashboard.css">
  <link rel="stylesheet" href="/static/Global/css/loader.css">
</head>

<body>
  
  <!-- Account Header above the navbar -->
  <div class="account-navbar">
    Welcome, <span class="set-to-username" style="color: #FFBB01;">Guest</span>!
    <button class="submitButton" id="headerLoginButton" onclick="window.location.href = '/accounts/login';">Login</button>
    <button class="greenButton" id="headerRegisterButton" onclick="window.location.href = '/accounts/register';">Sign Up</button>

    <button class="submitButton" id="headerDashboardButton" onclick="window.location.href = '/accounts/account-dashboard';">Dashboard</button>
    <button class="redButton" id="headerLogoutButton" onclick="localStorage.removeItem('pn-jwt'); window.location.href = '/';">Logout</button>
  </div>
  <!-- Handles the accounts header functionality. -->
  <script type="module" src="/static/Accounts/js/accounts_header.js"></script>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="/static/PyroNeon/img/Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/products">Products</a>
  <a href="/community">Community</a>
</div>

<!-- Loading animation -->
<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

<article id="dashboard" style="display: none; position: fixed; top: 10%;">

  <img src="/static/PyroNeon/img/banner.png" alt="PyroNeon Banner" id="logoBanner">

  <h1>Welcome back, <span class="set-to-username" style="color: #FFBB01;">username</span>.</h1>

  <div class="paragraph" style="padding: 0; margin-top: 0;">
    <p>Remember to log out when you're done.</p>
  </div>

  <button class="redButton" style="margin-top: 2vh;" onclick="localStorage.removeItem('pn-jwt'); window.location.href = '/';">Logout</button>

  <h1 style="margin-top: 4vh;">Update Credentials</h1>

  <table style="margin: auto; border-collapse: separate; border-spacing: 2vh;">
    <tr>
      <td><button class="submitButton" onclick="window.location.href = '/accounts/update/change-username';">Change Username</button></td>
    </tr>
    <tr>
      <td><button class="submitButton" onclick="window.location.href = '/accounts/update/change-password';">Change Password</button></td>
    </tr>
    <tr>
      <td><button class="submitButton" onclick="window.location.href = '/accounts/update/change-email-address';">Change Email Address</button></td>
    </tr>
    <tr>
      <td><button class="redButton" onclick="window.location.href = '/accounts/update/delete-account';">Delete Account</button></td>
    </tr>
  </table>

</article>

<!-- Handles the dashboard functionality. -->
<script type="module" src="/static/Accounts/js/account_dashboard.js"></script>

<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="https://www.reddit.com/r/pyroneon/">Reddit</a>
  <a href="https://twitter.com/PyroNeonGames">Twitter</a>
  <a href="/community">Community</a>
</div>

</body>
</html>
