/* Import global styles */
@import "/static/Global/css/global.css";

.navbar, .footer{
  z-index: 2;
}

/* Adjust accordingly for mobile */
@media (orientation: portrait) {
  .navbar a {
    font-size: 2vh;
    padding: 1vw 2vw;
  }
  .footer a{
    font-size: 1.5vh;
  }
}

html {
  min-height: 100%;
  background-repeat:no-repeat;
  background-size: cover;
  /* background: linear-gradient(0deg, rgba(255,111,0,1) 0%, rgba(255,196,44,1) 100%); */
  background-color: #323232;
  scroll-behavior: smooth;
}

/* Style the body */
body {
  font-family: NewTown;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  /* display: flex;
  flex-direction: column; */
}
#logoBanner{
  margin: auto;
  max-width: 50%;
  max-height: 50%;
}

/* Wrap paragraphs into blocks without using <br> */
article p, article h1, article h2, article h3, article a {
  inline-size: 75%;
  overflow-wrap: break-word;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;

  color:white;
  text-shadow: 3px 3px 2px black;
  text-decoration: none;
  font-family: HighwayGothic;
  /* font-size: 30px; */
  font-size: 1.5625vw;

  scroll-margin-top: 5vh;
}
.sidebar article p, article h1, article h2, article h3, article a{
  inline-size: 90%;
  overflow-wrap: none;
}
article h1 {
  /* font-size: 60px; */
  font-size: 3.125vw;
  font-family: HighwayGothic;
  color: gold;
}
article h2 {
  /* font-size: 50px; */
  font-size: 2.6vw;
  color: #0098FF;
}
article h3 {
  /* font-size: 40px; */
  font-size: 2.0833vw;
}
article a {
  color: gold;
}
article a:hover {
  color: yellow;
}
section{
  scroll-margin-top: 5vh;
}
.content{
  width: 80%;
  min-height: 100%;
  margin-left: 20%;
  display: inline-block;
  padding-bottom: 10%;
}

@media (orientation: portrait) {
  #logoBanner{
    max-width: 100%;
    max-height: 100%;
  }
  .content{
    margin-left: 0;
    width: 95%;
  }
  article{
    width: 100%;
  }
  article p, article h1, article h2, article h3, article a {
    inline-size: 95%;
    font-size: 2vh;
  }
  article h1 {
    font-size: 3.125vh;
  }
  article h2 {
    font-size: 3vh;
  }
  article h3 {
    font-size: 2.5vh;
  }
}


.sidebar{
  width: 20%;
  height: 100%;
  min-height: 100%;
  background-color: #181818;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: inline-block;
}

.head-link, .major-link, .minor-link{
  width: auto;
  text-align: left;
  text-shadow: 0px 0px 0px black;
}
.head-link{
  color: gold;
  padding-inline-start: 1ch;
  /* font-size: 45px; */
  font-size: 2.34vw;
}
.major-link{
  color: #0098FF;
  padding-inline-start: 3ch;
  /* font-size: 40px; */
  font-size: 2.083vw;
}
.minor-link{
  color: white;
  padding-inline-start: 8ch;
  /* font-size: 30px; */
  font-size: 1.5625vw;
}
.head-link:hover, .major-link:hover , .minor-link:hover{
  background-color: #FF7800;
  color: white;
}
details summary a{
  display: inline-block;
}
/* Affects the drop-down arrow on the sidebar links. */
details summary::marker {
  align-items: center;
  color: white;
}
#viewShortcuts{
  color:white;
  background-color: #0098FF;
  border: 2px solid #0075C4;
  font-size: 4vh;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;

  z-index: 2;
  position: fixed;
  left: 0;
}
#viewShortcuts:hover {
  background-color: #8BD0FF;
  border: none;
  color: white;
}
#shortcutsLabel{
  display: block;
  color:white;
  padding-top: 10vh;
  font-size: 4vh;
  width: 50%;
  margin: 0;
}
/* Portrait mode */
@media (orientation: portrait) {
  /* Sidebar is hidden by default. */
  .sidebar{
    display: none;
    width: 100%;
    overflow-y: scroll;
  }
  .head-link{
    font-size: 3.6vh;
  }
  .major-link{
    font-size: 3vh;
  }
  .minor-link{
    font-size: 2.3vh;
  }
  details {
    padding-left: 5%;
  }
  summary::marker {
    margin: 0;
  }
  #shortcutsLabel{
    padding-top: 5vh;
  }
}
/* Landscape mode */
@media (orientation: landscape) {
  /* Disable viewShortcuts button on landscape. */
  #viewShortcuts{
    display: none;
  }
}


table {
  border-collapse: collapse;
  background-color: #696969;
  color:white;
  text-shadow: 3px 3px 2px black;
  text-decoration: none;
  font-family: HighwayGothic;
  font-size: 1.3vw;

  margin: auto;
}
td{
  padding: 1%;
  padding-left: 2ch;
  padding-right: 2ch;
  border: 1px solid #444444;
}
tr{
  border: 1px solid #444444;
}
.tr-head{
  background-color: #444444;
}
@media (orientation: portrait) {
  table {
    font-size: 2vh;
  }
}
