/* Import navbar/footer stuff */
@import "../../Global/css/header-navbar.css";

/* Adjust accordingly for mobile */
@media (orientation: portrait) {
  .navbar a {
    font-size: 2vh;
    padding: 1vw 2vw;
  }
  .footer a{
    font-size: 1.5vh;
  }
}

html {
  /* background: linear-gradient(0deg, rgba(255,111,0,1) 0%, rgba(255,196,44,1) 100%); */
  min-height: 100%;
  background-image: url("../img/wallpaper.png");
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Style the body */
body {
  font-family: NewTown;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#logoBanner{
  margin: auto;
  max-width: 50%;
  max-height: 50%;
}

/* Increase the font size of the heading */
h1 {
  margin: 0;
  font-size: 3.125vw;
  color: white;
  font-family: HighwayGothic;
  padding-top: 4vh;
}

p{
  margin: 0;
}

/* Wrap paragraphs into blocks without using <br> */
.paragraph {
  inline-size: 50%;
  overflow-wrap: break-word;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;

  color:white;

  /* Stroke text */
  text-shadow:
       3px 3px 0 black,
     -3px -3px 0 black,
      3px -3px 0 black,
      -3px 3px 0 black,
       3px 3px 0 black;

  text-decoration: none;
  font-family: HighwayGothic;
  font-size: 1.5625vw;
}
.paragraph h3 {
  /* font-size: 50px; */
  font-size: 2.6vw;
}
.paragraph a {
  text-decoration: none;
  color: gold;
}
.paragraph a:hover {
  color: yellow;
}

@media (orientation: portrait) {
  #logoBanner{
    max-width: 100%;
    max-height: 100%;
  }
  h1 {
    font-size: 5vh;
  }
  .paragraph {
    inline-size: 95%;
    font-size: 3vh;
  }
  .paragraph h3 {
    font-size: 4vh;
  }
}
