<!--
  This page is used to log into an existing PyroNeon Software account.
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Change Username - PyroNeon</title>
  <link rel="icon" href="/static/Global/img/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/Accounts/css/accounts.css">
  <link rel="stylesheet" href="/static/Accounts/css/alert_popup.css">

  <!-- Default buildscript handles included HTML elements, and any included JavaScript. -->
  <script type="module" id="buildscript" src="/static/Global/js/default-buildscript.js"></script>
</head>

<body>

  <!-- Account Header above the navbar -->
  <div data-include="account-header"></div>
  <!-- Include global navbar -->
  <div data-include="navbar"></div>


<article style="position: fixed; top: 15%;">

  <h1>Change Username</h1>

  <div class="paragraph" style="padding-bottom: 0;">
    <p>
      Change your username here.
      Please note, if you change your username, your old username will be freed up and someone else might take it.
    </p>
  </div>

  <form action="" id="update_submit_form">
    <table class="form-table">
      <tr class="form-row"><td colspan=3><h1>Confirm Your Credentials</h1></td></tr>
      <tr class="form-row">
        <td class="form-label">Username</td>
        <td><input type="text" class="input-text-field" name="username" id="username"></td>
      </tr>
      <tr class="form-row">
        <td class="form-label">Password</td>
        <td><input type="password" class="input-text-field" name="password" id="password"></input></td>
        <td><input type="checkbox" onclick="togglePasswordVisibility('password')">Show Password</input></td>
      </tr>
      <tr class="form-row">
        <td class="form-label">New Username</td>
        <td><input type="text" class="input-text-field" name="new_username" id="new_username"></input></td>
      </tr>
      <tr class="form-row">
        <td colspan=3><button type="submit" class="submitButton" id="updateSubmitButton">Update Username</button></td>
      </tr>
    </table>
  </form>
</article>

<div class="alert" id="alert_box">
  <div class="alert_message">This is an alert.</div>
  <!-- Hide the alert box, then scroll to the top of the page. -->
  <span class="close_alert_button" onclick="this.parentElement.style.display='none'; window.location.href = '#';">&times;</span>
</div>

<!-- Add function to the toggle password visibility buttons. -->
<script src="/static/Accounts/js/password_visibility.js"></script>

<!-- Used to send POST requests to the API. -->
<script type="module" src="/static/Accounts/js/updates/change_username.js"></script>

<!-- Include global footer -->
<div data-include="footer"></div>

</body>
</html>
