/* Define custom fonts */
@font-face {
   font-family: HighwayGothic;
   src: url('../../Global/fonts/HWYGNRRW.TTF');
}
@font-face {
    font-family: 'Newtown';
    src: url('../../Global/fonts/Newtown.woff2') format('woff2'),
        url('../../Global/fonts/Newtown.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: black;
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  text-align: center;
  top: 0;
  margin: 0;

  display: flex;
  justify-content: center;
}

/* Style the navigation bar links */
.navbar a {
  display: flex;
  align-items: center;
  color: white;

  font-size: 2.3rem;
  text-decoration: none;
  text-align: center;

  padding: 1rem 2rem 1rem 2rem;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Logo in the Navbar */
.navbar a.logo img{
  width: 3rem;
  height: 3rem;
}


@media (orientation: portrait) {
  .navbar a{
    font-size: 5vw;
    padding: 2vw 4vw;
  }
  .navbar a.logo img {
    width: 5vw;
    height: 5vw;
  }
}


/* Footer styles */
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom:0;
  background-color: black;
}

.footer a {
  /* position: relative; */
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  text-decoration: none;

  font-size: 2vh;
  padding: 1vw 3vw;
}

/* Change color on hover */
.footer a:hover {
  background-color: #ddd;
  color: black;
}
