<!--
  This page displays contact information for Puzzle Minefield
 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Support - Puzzle Minefield</title>
  <link rel="icon" href="../static/PuzzleMinefield/img/hd-spray-logo.png" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/PuzzleMinefield/css/puzzleMinefield.css">
  <link rel="stylesheet" href="../static/Global/css/simple-button.css">
</head>


<!-- Background video -->
<video autoplay muted loop id="backgroundVideo">
  <source src="../static/PuzzleMinefield/img/bgvideo.mp4" type="video/mp4">
</video>

<body>

  <div class="main">
    <!-- The top navbar header.  -->
    <div class="navbar">
      <a href="/" class="logo">
        <img src="../static/PyroNeon/img/Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
      </a>

      <a href="/PuzzleMinefield">About</a>
      <a href="/PuzzleMinefield/downloads">Downloads</a>
      <a href="/PuzzleMinefield/FAQ">FAQ</a>
      <a href="/PuzzleMinefield/community">Support</a>
    </div>

    <div class="row">
      <!-- Banner -->
      <img src="../static/PuzzleMinefield/img/hd-banner.png" alt="PuzzleMinefield Banner" style="max-width: 50%; max-height: 50%;">
      <br>
      <article>
        <header>
          <h1>
            Community
          </h1>
        </header>
        <section>
              <a href="https://www.reddit.com/r/PuzzleMinefield/">
                <img src="https://www.redditinc.com/assets/images/site/reddit-logo.png" style="width:100px; height:100px;" alt="Reddit Logo"/>
              </a>
              <a href="https://twitter.com/PyroNeonGames">
                <img src="https://www.pngkey.com/png/full/2-27646_twitter-logo-png-transparent-background-logo-twitter-png.png" style="width:100px; height:100px;" alt="Twitter Logo"/>
              </a>
              <a href="https://www.youtube.com/channel/UC6zES3DeJISDKGpi5Ik_JBw">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/YouTube_social_red_circle_%282017%29.svg/1200px-YouTube_social_red_circle_%282017%29.svg.png" style="width:100px; height:100px;" alt="Youtube Logo"/>
              </a>
        </section>
        <header>
          <h1>
            Customer Support
          </h1>
        </header>
        <section>
          <div class="paragraph">
            <p>
              For support or business queries, email us at pyroneonbusiness@gmail.com
              <br>
            </p>
          </div>
          <button onclick="window.location.href='https://forms.gle/jJkvXrN67hCTx2ot7';">
            Report a Bug
          </button>
        </section>
        <br> <br> <br><br><br>
      </article>
    </div>

    <!-- Footer with extra links at the bottom of the page. -->
    <div class="footer">
      <a href="/">PyroNeon Software</a>
      <a href="https://www.reddit.com/r/pyroneon/">Reddit</a>
      <a href="https://twitter.com/PyroNeonGames">Twitter</a>
      <a href="https://forms.gle/jJkvXrN67hCTx2ot7">Report a Bug</a>
      <a href="/PuzzleMinefield/community">Community</a>
    </div>
  </div>

</body>
</html>
