<!--
     This is the downloads page for Puzzle Minefield
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Downloads - Puzzle Minefield</title>
  <link rel="icon" href="../static/PuzzleMinefield/img/hd-spray-logo.png" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/PuzzleMinefield/css/puzzleMinefield.css">
  <link rel="stylesheet" href="../static/Global/css/simple-button.css">
</head>

<!-- Background video -->
<video autoplay muted loop id="backgroundVideo">
  <source src="../static/PuzzleMinefield/img/bgvideo.mp4" type="video/mp4">
</video>

<body>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="../static/PyroNeon/img/Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/PuzzleMinefield">About</a>
  <a href="/PuzzleMinefield/downloads">Downloads</a>
  <a href="/PuzzleMinefield/FAQ">FAQ</a>
  <a href="/PuzzleMinefield/community">Support</a>
</div>

  <!-- Banner -->
  <img src="../static/PuzzleMinefield/img/hd-banner.png" alt="PuzzleMinefield Banner" id="logoBanner">

  <h1>
    Downloads
  </h1>

  <div class="paragraph">
    <p>
        Download the latest version of Puzzle Minefield here.
        Currently, the project is in the Alpha stage, so please
        report any bugs you encounter to PyroNeon Games.
        Supported Platforms: Desktop (Windows / Linux)
    </p>
  </div>

  <br>

  <button onclick="window.location.href='/PuzzleMinefield/download-jar';">
    Download As .JAR
  </button>

  <button onclick="window.location.href='/PuzzleMinefield/download-exe';">
    Download As .EXE
  </button>

  <br><br><br>

  <button onclick="window.location.href='https://github.com/JLeopolt/PuzzleMinefield-Releases';">
    Other Versions
  </button>



  <!-- Footer with extra links at the bottom of the page. -->
  <div class="footer">
    <a href="/">PyroNeon Software</a>
    <a href="https://www.reddit.com/r/pyroneon/">Reddit</a>
    <a href="https://twitter.com/PyroNeonGames">Twitter</a>
    <a href="https://forms.gle/jJkvXrN67hCTx2ot7">Report a Bug</a>
    <a href="/PuzzleMinefield/community">Community</a>
  </div>

</body>
</html>
