<!--
  This page is used to log into an existing PyroNeon Software account.
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Change Password - PyroNeon</title>
  <link rel="icon" href="/static/Global/img/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/Accounts/css/accounts.css">
  <link rel="stylesheet" href="/static/Accounts/css/alert_popup.css">
</head>

<body>

  <!-- Account Header above the navbar -->
  <div class="account-navbar">
    Welcome, <span class="set-to-username" style="color: #FFBB01;">Guest</span>!
    <button class="submitButton" id="headerLoginButton" onclick="window.location.href = '/accounts/login';">Login</button>
    <button class="greenButton" id="headerRegisterButton" onclick="window.location.href = '/accounts/register';">Sign Up</button>

    <button class="submitButton" id="headerDashboardButton" onclick="window.location.href = '/accounts/account-dashboard';">Dashboard</button>
    <button class="redButton" id="headerLogoutButton" onclick="localStorage.removeItem('pn-jwt'); window.location.href = '/';">Logout</button>
  </div>
  <!-- Handles the accounts header functionality. -->
  <script type="module" src="/static/Accounts/js/accounts_header.js"></script>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="/static/PyroNeon/img/Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/products">Products</a>
  <a href="/community">Community</a>
</div>


<article style="position: fixed; top: 15%;">

  <h1>Change Password</h1>

  <div class="paragraph" style="padding-bottom: 0;">
    <p>
      Change your password here.
      Please note, your password change may take some time to take effect.
      If you think your account is compromised, <a style="color:gold;" href="/community">contact us</a> to lock it.
    </p>
  </div>

  <form action="" id="update_submit_form">
    <table class="form-table">
      <tr class="form-row"><td colspan=3><h1>Confirm Your Credentials</h1></td></tr>
      <tr class="form-row">
        <td class="form-label">Username</td>
        <td><input type="text" class="input-text-field" name="username" id="username"></td>
      </tr>
      <tr class="form-row">
        <td class="form-label">Current Password</td>
        <td><input type="password" class="input-text-field" name="password" id="password"></input></td>
        <td><input type="checkbox" onclick="togglePasswordVisibility('password')">Show Password</input></td>
      </tr>
      <tr class="form-row">
        <td class="form-label">New Password</td>
        <td><input type="password" class="input-text-field" name="new_password" id="new_password"></input></td>
        <td><input type="checkbox" onclick="togglePasswordVisibility('new_password')">Show Password</input></td>
      </tr>
      <tr class="form-row">
        <td class="form-label">Confirm New Password</td>
        <td><input type="password" class="input-text-field" name="confirm_new_password" id="confirm_new_password"></input></td>
        <td><input type="checkbox" onclick="togglePasswordVisibility('confirm_new_password')">Show Password</input></td>
      </tr>
      <tr class="form-row">
        <td colspan=3><button type="submit" class="submitButton" id="updateSubmitButton">Update Password</button></td>
      </tr>
    </table>
  </form>
</article>

<div class="alert" id="alert_box">
  <div class="alert_message">This is an alert.</div>
  <!-- Hide the alert box, then scroll to the top of the page. -->
  <span class="close_alert_button" onclick="this.parentElement.style.display='none'; window.location.href = '#';">&times;</span>
</div>

<!-- Add function to the toggle password visibility buttons. -->
<script src="/static/Accounts/js/password_visibility.js"></script>

<!-- Used to send POST requests to the API. -->
<script type="module" src="/static/Accounts/js/updates/change_password.js"></script>

<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="/accounts/legal/terms-of-service">TOS</a>
  <a href="/accounts/legal/privacy-policy">Privacy Policy</a>
  <a href="/community">Community</a>
</div>

</body>
</html>
