<!--
     This is the product page for MUDTool.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>MUD Tool</title>
  <link rel="icon" href="/static/MUDTool/img/icon.png" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/MUDTool/css/index.css">

  <!-- Import.js handles importing HTML elements from other files. -->
  <script type="module" src="/static/Global/js/import.js"></script>
</head>

<body>

  <!-- Account Header above the navbar -->
  <div data-include="account-header"></div>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="/static/PyroNeon/img/Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/products">Products</a>
  <a href="/community">Community</a>
</div>


<!-- Banner -->
<img src="/static/MUDTool/img/MUD-Logo.png" alt="MUDTool Banner" id="banner">

<div class="paragraph">

  <h1 style="padding-top: 1rem;">
    About
  </h1>
  <p>
    MUD Tool (Multimedia Utility Download Tool) is a powerful program which allows you to download and convert media files from the web.
    If you've ever been browsing the web and wanted to download a video, but it's locked behind a paywall or asks you to sign up to download, just
    use the MUD Tool!
  </p>

  <br><br>

  <button onclick="window.location.href='/mudtool/download-exe';"> Download Latest Release </button>
  <button onclick="window.location.href='https://github.com/JLeopolt/MultimediaUtilityDownloadTool';"> View on Github </button>

  <h1>
    Features
  </h1>
  <p>
    MUD offers native support for YouTube videos, giving you full control over what streams to use when downloading, output file types, etc.
    MUD is also able to scan the HTML contents of a website you provide, and pick out video files straight from the source, so you can download
    anything without having to sign up for an account.
  </p>

  <h1>
    Licensing
  </h1>
  <p>
    Our software is open-source on Github, and free to use under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL 3.0 License</a>.
    Our source code is documented, and all the assets are available on our repository.
  </p>

</div>

<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="/accounts/legal/terms-of-service">TOS</a>
  <a href="/accounts/legal/privacy-policy">Privacy Policy</a>
  <a href="/community">Community</a>
</div>

</body>
</html>
