<!--
  This page is shown when a user has created an account successfully, and notifies them to check their email inbox.
 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Check Your Inbox - PyroNeon</title>
  <link rel="icon" href="/static/Global/img/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/Accounts/css/accounts.css">
  <link rel="stylesheet" href="/static/Global/css/simple-button.css">
</head>

<body style="background: linear-gradient(9deg, rgba(0,236,255,1) 0%, rgba(44,66,255,1) 100%); background-attachment: fixed; background-repeat: no-repeat;">

  <!-- Account Header above the navbar -->
  <div class="account-navbar">
    Welcome, <span class="set-to-username" style="color: #FFBB01;">Guest</span>!
    <button class="submitButton" id="headerLoginButton" onclick="window.location.href = '/accounts/login';">Login</button>
    <button class="greenButton" id="headerRegisterButton" onclick="window.location.href = '/accounts/register';">Sign Up</button>

    <button class="submitButton" id="headerDashboardButton" onclick="window.location.href = '/accounts/account-dashboard';">Dashboard</button>
    <button class="redButton" id="headerLogoutButton" onclick="localStorage.removeItem('pn-jwt'); window.location.href = '/';">Logout</button>
  </div>
  <!-- Handles the accounts header functionality. -->
  <script type="module" src="/static/Accounts/js/accounts_header.js"></script>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="/static/PyroNeon/img/Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/products">Products</a>
  <a href="/community">Community</a>
</div>


<article style="position: fixed; top: 40%; text-shadow: -1px 1px 2px #000,1px 1px 2px #000,1px -1px 0 #000,-1px -1px 0 #000;">
  <h1>
    You're almost done!
  </h1>

  <div class="paragraph" style="padding-bottom: 0;">
    <p>
      Please check your email inbox and spam folder for a link to confirm your email address and activate your account.
    </p>
  </div>
  <br>
  <button onclick="location.href = '/accounts/email/resend-email-code';">Didn't Get An Email?</button>

</article>

<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="/accounts/legal/terms-of-service">TOS</a>
  <a href="/accounts/legal/privacy-policy">Privacy Policy</a>
  <a href="/community">Community</a>
</div>

</body>
</html>
