<!--
  This page is shown when a user clicked the email confirmation link from their inbox, and was redirected to this page with a querystring containing the token.
 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Activate Your Account - PyroNeon</title>
  <link rel="icon" href="/static/Global/img/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/Accounts/css/accounts.css">

  <!-- Default buildscript handles included HTML elements, and any included JavaScript. -->
  <script type="module" id="buildscript" src="/static/Global/js/default-buildscript.js"></script>
</head>

<body style="background: linear-gradient(10deg, rgba(15,223,74,1) 0%, rgba(2,105,0,1) 100%); background-attachment: fixed; background-repeat: no-repeat;">

  <!-- Account Header above the navbar -->
  <div data-include="account-header"></div>
  <!-- Include global navbar -->
  <div data-include="navbar"></div>


<article style="position: fixed; top: 40%; text-shadow: -1px 1px 2px #000,1px 1px 2px #000,1px -1px 0 #000,-1px -1px 0 #000;">
  <h1>
    You're all done!
  </h1>

  <div class="paragraph" style="padding-bottom: 0;">
    <p>
      Your email address was confirmed, and your account is fully activated. <a style="color: gold;" href="/accounts/login">Log in here.</a>
    </p>
  </div>
</article>

<script type="module" src="/static/Accounts/js/email/confirm_email_address.js"></script>

<!-- Include global footer -->
<div data-include="footer"></div>

</body>
</html>
