<!--
  This page is shown when a user clicked the email confirmation link from their inbox, and was redirected to this page with a querystring containing the token.
 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Activate Your Account - PyroNeon</title>
  <link rel="icon" href="/static/Global/img/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/Accounts/css/accounts.css">

  <!-- Import.js handles importing HTML elements from other files. -->
  <script type="module" src="/static/Global/js/import.js"></script>
</head>

<body style="background: linear-gradient(10deg, rgba(15,223,74,1) 0%, rgba(2,105,0,1) 100%); background-attachment: fixed; background-repeat: no-repeat;">

<!-- Account Header above the navbar -->
<div data-include="account-header"></div>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="/static/PyroNeon/img/Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/products">Products</a>
  <a href="/community">Community</a>
</div>


<article style="position: fixed; top: 40%; text-shadow: -1px 1px 2px #000,1px 1px 2px #000,1px -1px 0 #000,-1px -1px 0 #000;">
  <h1>
    You're all done!
  </h1>

  <div class="paragraph" style="padding-bottom: 0;">
    <p>
      Your email address was confirmed, and your account is fully activated. <a style="color: gold;" href="/accounts/login">Log in here.</a>
    </p>
  </div>
</article>

<script type="module" src="/static/Accounts/js/email/confirm_email_address.js"></script>

<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="/accounts/legal/terms-of-service">TOS</a>
  <a href="/accounts/legal/privacy-policy">Privacy Policy</a>
  <a href="/community">Community</a>
</div>

</body>
</html>
