/* Footer styles */
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom:0;
  background-color: black;
}

.footer a {
  /* position: relative; */
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  text-decoration: none;

  font-size: 2vh;
  padding: 1vw 3vw;
}

/* Change color on hover */
.footer a:hover {
  background-color: #ddd;
  color: black;
}
