/* Import navbar/footer stuff */
@import "../../Global/css/header-navbar.css";

p {
  font-size: 1.5625vw;
}

/* Style the body */
body {
  font-family: NewTown;
  background: #1C1C1C;
  margin: 0;
  padding: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
}

/* Increase the font size of the heading */
header h1 {
  font-size: 3.125vw;
  color: white;
  font-family: HighwayGothic;
}

/* Wrap paragraphs into blocks without using <br> */
.paragraph {
  inline-size: 50%;
  overflow-wrap: break-word;
  margin: auto;
}

.main{
  position: relative;
  left:0;
  margin-left: auto;
  margin-right: auto;
}

article{
  text-align:center;
  height: 100vh;
  width: 100%;
  color:white;
  text-decoration: none;
  font-family: HighwayGothic;
}
article p{
  font-size: 1.5625vw;
}
article a{
  text-decoration: none;
  display: inline-block;
  color:white;
  margin-left: auto;
  margin-right: auto;
}
article header h3 {
  font-size: 2.6vw;
}



.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 75%;
  margin: auto;
}
.grid-item{
  height: 100%;
  width: 100%;
  background-color: black;
  text-align: center;

  /* display: flex;
  align-items: center;
  justify-content: center; */
}
/* Change color on hover */
.grid-item:hover {
  background-color: #333333;
}
.grid-item div{
  inline-size: 80%;
}
.grid-container a{
  font-size: 1.5625vw;
  text-decoration: none;
  font-family: HighwayGothic;
  color: white;
}
.grid-item img{
  max-width: 100%;
  max-height: 100%;
}


button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8333vw;
}
button:hover {
  background-color: #2b632d;
  color: white;
}
