<!--
  This is the dashboard for logged in users to manage their accounts. If accessed while not logged in, it will redirect to the log in page.
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Dashboard - PyroNeon</title>
  <link rel="icon" href="/static/Global/img/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/Accounts/css/users/account_dashboard.css">
  <link rel="stylesheet" href="/static/Global/css/loader.css">

  <!-- This buildscript specifies how JS should be executed. -->
  <script type="module" id="buildscript">
    import { ImportHTML } from '/static/Global/js/import-nobuild.js';
    import { GeneratePage } from "/static/Accounts/js/users/account_dashboard.js";
    // First, include all requested elements.
    ImportHTML();
    // Code inside this funct only executes AFTER elements are imported.
    $(window).on('load', function () {
      // Activate the dashboard page's javascript. Automatically sets up AccountHeader.
      GeneratePage();
    });
  </script>
</head>

<body>

<!-- Account Header above the navbar -->
<div data-include="account-header"></div>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="/static/PyroNeon/img/Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/products">Products</a>
  <a href="/community">Community</a>
</div>

<h1>Welcome back, <span class="set-to-username" style="color: #FFBB01;">username</span>.</h1>

<p style="margin: 0;">Remember to <a class="logoutLink" onclick="localStorage.removeItem('pn-jwt'); window.location.href = '/';">log out</a> when you're done.</p>

<div class="grid-container" style="padding-top: 1vh; padding-bottom: 1vh;">

  <a id="myProfileButton">
    <div class="grid-item"">
      <h1>Profile</h1>
    </div>
  </a>

  <a href="/accounts/settings">
    <div class="grid-item">
      <h1>Settings</h1>
    </div>
  </a>

  <a href="/accounts/friends">
    <div class="grid-item">
      <h1>Friends</h1>
    </div>
  </a>

  <a href="/accounts/search">
    <div class="grid-item">
      <h1>Discover</h1>
    </div>
  </a>

</div>

<h1 style="padding-top: 1vh;">News Timeline</h1>
<p style="margin: 0; padding-bottom: 2vh;">View the latest developments from <a href="/community" class="logoutLink">PyroNeon Software</a>.</p>

<!-- Integrated Twitter Timeline with PyroNeon updates. -->
<a class="twitter-timeline" data-theme="dark" href="https://twitter.com/PyroNeonGames?ref_src=twsrc%5Etfw">
  <!-- Loading throbber -->
  <div class="lds-roller" style="position: absolute; top: 70%;"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="/accounts/legal/terms-of-service">TOS</a>
  <a href="/accounts/legal/privacy-policy">Privacy Policy</a>
  <a href="/community">Community</a>
</div>

</body>
</html>
