<!--
  Displays the currently logged-in user's Friends List, and other friendship information.
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Friends - PyroNeon</title>
  <link rel="icon" href="/static/Global/img/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/Accounts/css/users/friends.css">
  <link rel="stylesheet" href="/static/Global/css/loader.css">

  <!-- Import.js is executed before the buildscript, so the imported assets should be ready before buildscript starts manipulating them. -->
  <script type="module" id="importscript" src="/static/Global/js/import.js"></script>

  <!-- This buildscript specifies how JS should be executed. -->
  <script type="module" id="buildscript">
    import { GetAuthClaims } from '/static/Accounts/js/libs/services/api/auth-api.js';

    // Get auth token claims
    const claims = GetAuthClaims();
    // if not logged in, redirect.
    if(claims == null){
      // No JWT was found, so redirect them to the login page.
      window.location.href = "/accounts/login";
      process.exit(0);
    }

    import { GeneratePage } from '/static/Accounts/js/users/friendslist.js';
    import { SetupAccountsHeader } from '/static/Accounts/js/accounts_header.js';

    // Code inside this funct only executes AFTER elements are imported.
    $(window).on('load', function () {
      // setup account header
      SetupAccountsHeader(claims);
      // Activate the profile page's javascript.
      GeneratePage(claims);
    });
  </script>
</head>

<body>

<!-- Account Header above the navbar -->
<!-- The account header is powered by profile.js -->
<div data-include="account-header-nojs"></div>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="/static/PyroNeon/img/Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/products">Products</a>
  <a href="/community">Community</a>
</div>

<!-- Alert popup. -->
<div data-include="alert-box" style="width: 100%;"></div>

<h1>My Friends</h1>
<br>

<!-- Display everything using an HTML Table. -->
<table class="friendPanel">
  <!-- Header -- Contains 'Tabs' which toggle which mode is being used. -->
  <thead>
    <tr>
      <th id="friendsTab">Friends</th>
      <th id="incomingTab">Incoming</th>
      <th id="outgoingTab">Outgoing</th>
    </tr>
  </thead>

  <!-- Body -- Contains the friend entries, which are procedurally generated. -->
  <tbody id="friendsList">
    <!-- Throbber, which is visible while the list is loading. Removed after list is generated. -->
    <tr id="throbber" style="background-color: inherit; cursor: inherit; display: none;">
      <td colspan="3">
        <!-- Loading throbber -->
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </td>
    </tr>

    <!-- Notifies the user that no results were found. -->
    <tr id="noResultsNotice" style="display: none; background-color: inherit; cursor: inherit;">
      <td colspan="3">
        <p>
          There's nothing here.
        </p>
      </td>
    </tr>

    <!-- A prebuilt friendEntry node which is cloned by JS and reproduced to create new user entries.  -->
    <!-- The entire row is clickable, and should redirect client to the user's profile page. -->
    <tr id="friendEntryNode" class="friendEntry" style="display:none;">
      <td colspan="3">
        <div class="nameplate">

          <div class="nameBadge">
            <!-- Profile picture. Uses a span for proper resizing. -->
            <img src="/static/Accounts/img/pfp.png" alt="Profile Photo">
            <!-- Friend's username. -->
            <p>User</p>
          </div>

          <!-- Friend control buttons -- remove friend, accept/reject pending requests, etc. -->
          <button class="greenButton" onclick="" style="display: none;"><img src="/static/Accounts/img/checkmark.png" alt="Accept"></button>
          <!-- removeFriend is always an option. -->
          <button class="redButton" onclick=""><img src="/static/Accounts/img/trashbin.png" alt="Delete"></button>
        </div>
      </td>
    </tr>

    <!-- An empty row used for placeholder. -->
    <tr id="emptyRowEntry" class="friendEntry" style="display:none; background-color: inherit; cursor: inherit;">
      <td colspan="3"></td>
    </tr>

  </tbody>

  <!-- Footer -- Contains navigation controls for pagination, if available. -->
  <tfoot>
    <tr>
      <td colspan="3">
        <!-- This flex container aligns the elements within their single shared column. -->
        <div style="display: flex; align-items: center; justify-content: center;">
          <!-- Pagination controls. -->
          <button class="pageButton" id="prevPageButton"> ◀ Prev </button>

          <p style="margin: 0; padding-left: 1vw; padding-right: 1vw;">
            <span id="pageNumber"> 1 </span>
          </p>

          <button class="pageButton" id="nextPageButton"> Next ▶ </button>
        </div>
      </td>
    </tr>
  </tfoot>

</table>

<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="/accounts/legal/terms-of-service">TOS</a>
  <a href="/accounts/legal/privacy-policy">Privacy Policy</a>
  <a href="/community">Community</a>
</div>

</body>
</html>
