<!--
Allows a logged-in user to overview account management settings.
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Settings - PyroNeon</title>
  <link rel="icon" href="/static/Global/img/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/Accounts/css/settings.css">
  <link rel="stylesheet" href="/static/Global/css/loader.css">

  <!-- This script handles settings page initialization. -->
  <script type="module">
    import { GetAuthClaims } from '/static/Accounts/js/libs/services/api/auth-api.js';
    // Get auth token claims
    const claims = GetAuthClaims();
    // if not logged in, redirect.
    if(claims == null){
      // No JWT was found, so redirect them to the login page.
      window.location.href = "/accounts/login";
      process.exit(0);
    }
    // If the user is permitted to view this page, build it.
    import { UpdateSpans } from '/static/Accounts/js/libs/utils/update-elements.js';
    // Perform page setup here.
    document.getElementsByClassName("lds-roller")[0].style.display = "none";
    document.getElementById("dashboard").style.display = "block";
    UpdateSpans("set-to-username", claims.username);
  </script>
</head>

<body>
<!-- Account Header above the navbar -->
{% include '/components/account-header.html' %}
<!-- Include global navbar -->
{% include '/components/navbar.html' %}

<!-- Loading animation -->
<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

<article id="dashboard" style="display: none; position: fixed; top: 13%;">

  <h1>Update Settings For <span class="set-to-username" style="color: #FFBB01;">username</span>.</h1>

  <table>
    <tr>
      <td><button class="submitButton" onclick="window.location.href = '/accounts/update/change-username';">Change Username</button></td>
    </tr>
    <tr>
      <td><button class="submitButton" onclick="window.location.href = '/accounts/update/change-password';">Change Password</button></td>
    </tr>
    <tr>
      <td><button class="submitButton" onclick="window.location.href = '/accounts/update/change-email-address';">Change Email Address</button></td>
    </tr>
    <tr>
      <td><button class="redButton" onclick="window.location.href = '/accounts/update/delete-account';">Delete Account</button></td>
    </tr>
  </table>

</article>

<!-- Include global footer -->
{% include '/components/footer.html' %}

</body>
</html>
