/* Import navbar/footer stuff */
@import "/static/Global/css/header-navbar.css";

/* Style the body */
body {
  font-family: NewTown;
  background-image: url("/static/TUMULT/img/new-wallpaper.png");
  margin: 0;
  padding: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
  font-family: HighwayGothic;
  font-size: 1.5625vw;
}

/* Increase the font size of the heading */
h1 {
  margin: 0;
  font-size: 3.125vw;
  color: gold;
  font-family: HighwayGothic;

  padding-top: 5rem;
}

/* Wrap paragraphs into blocks without using <br> */
.paragraph {
  inline-size: 50%;
  overflow-wrap: break-word;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;

  color:white;
  text-decoration: none;
  padding-bottom: 10vh;
  text-shadow:2px 2px 0 black,-2px -2px 0 black,2px -2px 0 black,-2px 2px 0 black,2px 2px 0 black;
}
.paragraph a {
  text-decoration: none;
  color: #0098FF;
}
.paragraph a:hover {
  color: #71C6FF;
}

#banner{
  max-width: 50%;
  max-height: 50%;
  margin: auto;
}

@media (orientation: portrait) {
  body{
    background-image: none;
    background-color: #373737;
  }
  p{
    font-size: 2rem;
  }
  h1 {
    font-size: 3rem;
  }
  .paragraph {
    inline-size: 90%;
  }
  #banner{
    max-width: 80%;
    max-height: 80%;
  }
}
