<!--
  Shows contact information and email addresses for PyroNeon Software.
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact Us - PyroNeon</title>
  <link rel="icon" href="/static/Global/img/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/PyroNeon/css/index.css">

  <!-- Default buildscript handles included HTML elements, and any included JavaScript. -->
  <script type="module" id="buildscript" src="/static/Global/js/default-buildscript.js"></script>
</head>

<body>

<!-- Account Header above the navbar -->
<div data-include="account-header"></div>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="/static/PyroNeon/img/Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/products">Products</a>
  <a href="/community">Community</a>
</div>

<!-- Banner -->
<img src="/static/PyroNeon/img/banner.png" alt="PyroNeon Banner" id="logoBanner">

<h1 style="color: gold;">
  Contact Us
</h1>

<br>

<div class="paragraph" style="padding-bottom: 10vh;">

  <h2 style="color: white;">help.pyroneon@gmail.com</h2>
  <p style="margin: 0; padding: 0;">
    For support with our products or services, reporting bugs/issues, or reporting violations of our TOS, contact us here.
  </p>

  <br><br>

  <h2 style="color: #2D9BE1;">pyroneonbusiness@gmail.com</h2>
  <p style="margin: 0; padding: 0;">
    For business or legal inquiries, opportunities, services, and careers, contact us here.
  </p>

  <br><br>

  <h2 style="color: #E12D2D;">noreply.pyroneon@gmail.com</h2>
  <p style="margin: 0; padding: 0;">
    You might receive an automated message from this address when you create an account, forget your password, or delete your account.
    Do not send emails or replies to this address, it's purely for automated emails.
  </p>


  <br><br>

  <h1 style="color: gold;"">Email Policy</h1>
  <p style="margin: 0; padding: 0;">
    Please use the correct email from the list when contacting us.
    If your email is irrelevant, inappropriate, or sent to the wrong address, it may be discarded.
    It may take between several hours to a week for us to respond to your email.
    If we don't respond to your email after a week, you may follow up with a second email.
    Do not follow up until at least a week has passed, since we may already be working on resolving your issue during that time period.
    <br><br>
    <span style="color: #B70000; font-size: 24px;">If you receive an email from an address not in this list, please disregard and report it to us.</span>
  </p>
</div>

<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="/accounts/legal/terms-of-service">TOS</a>
  <a href="/accounts/legal/privacy-policy">Privacy Policy</a>
  <a href="/community">Community</a>
</div>

</body>
</html>
