<!--
  Shows contact information and email addresses for PyroNeon Software.
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact Us - PyroNeon</title>
  <link rel="icon" href="/static/Global/img/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/PyroNeon/css/index.css">
</head>

<body>
<!-- Account Header above the navbar -->
<div class="account-navbar">
  Welcome, <span class="set-to-username" style="color: #FFBB01;">Guest</span>!
  <button class="submitButton" id="headerLoginButton" onclick="window.location.href = '/accounts/login';">Login</button>
  <button class="greenButton" id="headerRegisterButton" onclick="window.location.href = '/accounts/register';">Sign Up</button>

  <button class="submitButton" id="headerDashboardButton" onclick="window.location.href = '/accounts/account-dashboard';">Dashboard</button>
  <button class="redButton" id="headerLogoutButton" onclick="localStorage.removeItem('pn-jwt'); window.location.href = '/';">Logout</button>
</div>
<!-- Handles the accounts header functionality. -->
<script type="module" src="/static/Accounts/js/accounts_header.js"></script>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="/static/PyroNeon/img/Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/products">Products</a>
  <a href="/community">Community</a>
</div>

<!-- Banner -->
<img src="/static/PyroNeon/img/banner.png" alt="PyroNeon Banner" id="logoBanner">

<h1 style="color: gold;">
  Contact Us
</h1>

<div class="paragraph" style="padding-bottom: 10vh;">

  <h2>help.pyroneon@gmail.com</h2>
  <p style="margin: 0; padding: 0;">
    For support with our products or services, reporting bugs/issues, or reporting violations of our TOS, contact us here.
  </p>

  <br><br>

  <h2>pyroneonbusiness@gmail.com</h2>
  <p style="margin: 0; padding: 0;">
    For business or legal inquiries, opportunities, services, and careers, contact us here.
  </p>

  <br><br>

  <h1 style="color: gold;"">Email Policy</h1>
  <p style="margin: 0; padding: 0;">
    Please use the correct email from the list when contacting us.
    If your email is irrelevant, inappropriate, or sent to the wrong address, it may be discarded.
    It may take between several hours to a week for us to respond to your email.
    If we don't respond to your email after a week, you may follow up with a second email.
    Do not follow up until at least a week has passed, since we may already be working on resolving your issue during that time period.
    <br>
    <span style="color: #EA0000; font-size: 24px;">If you receive an email from an address not in this list, please disregard and report it to us.</span>
  </p>
</div>

<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="/accounts/legal/terms-of-service">TOS</a>
  <a href="/accounts/legal/privacy-policy">Privacy Policy</a>
  <a href="/community">Community</a>
</div>

</body>
</html>
