<!--
  This page specifies the privacy policy for PyroNeon Software accounts
 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Privacy Policy - PyroNeon</title>
  <link rel="icon" href="/static/Global/img/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/PyroNeon/css/index.css">

  
  
</head>

<body>

  <!-- Account Header above the navbar -->
  {% include '/components/account-header.html' %}
  <!-- Include global navbar -->
  {% include '/components/navbar.html' %}

<article>

  <!-- Banner -->
  <img src="/static/PyroNeon/img/banner.png" alt="PyroNeon Banner" id="logoBanner">

  <h1>Privacy Policy</h1>
  <h2 style="color: gold; margin: 0;">By signing up for a PyroNeon account, you agree to this privacy policy.</h2>

  <div class="paragraph" style="padding-top: 2vh; margin-bottom: 5vh;">
    <p>
      We (PyroNeon Software) may log or store some of the following information from our users:
      IP Addresses (Network addresses), usernames, email addresses, user-generated content,
      and API requests/responses.
      <br><br>
      We will not sell your information like email addresses, IP addresses, or other data to third
      parties like advertisers or email spammers. Your privacy is very important to us.
      <br><br>
      By logging in to your account, you agree to let us store and use cookies on your device.
      We will only access cookies that were created by us (PyroNeon Software).
      <br><br>
      We will never publish your personal information to the public or to third parties. However, in the event of illegal use
      of our services, we may send account information to law enforcement to aid in an investigation.
    </p>
  </div>

</article>

<!-- Include global footer -->
{% include '/components/footer.html' %}

</body>
</html>
