<!--
  This page specifies the terms of service of PyroNeon Software accounts
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Terms of Service - PyroNeon</title>
  <link rel="icon" href="/static/Global/img/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/PyroNeon/css/index.css">

  
  
</head>

<body>

  <!-- Account Header above the navbar -->
  {% include '/components/account-header.html' %}
  <!-- Include global navbar -->
  {% include '/components/navbar.html' %}

<article>

  <!-- Banner -->
  <img src="/static/PyroNeon/img/banner.png" alt="PyroNeon Banner" id="logoBanner">

  <h1>Terms of Service</h1>
  <h2 style="color: gold; margin: 0;">By signing up for a PyroNeon account, you agree to the following terms and conditions.</h2>

  <div class="paragraph" style="padding-top: 2vh; margin-bottom: 5vh;">
    <p>
      We (PyroNeon Software) are not responsible for any unauthorized usage of your PyroNeon account.
      Likewise, we are not responsible for lost progress, data, or purchases from unauthorized account usage, or from malfunctions/errors.
      <br><br>
      Our software is provided as is, which may include bugs, vulnerabilities, or other errors. We are not
      responsible for any damages or lost data caused by these.
      <br><br>
      If your account is found to be involved in illegal activities or otherwise associated with illegal
      digital content or cybercrime, then your account may be terminated without notice, and your information,
      including network addresses, username, email address, logs, or other information may be sent to the authorities.
      <br><br>
      Our account system and terms of service may change at any time, without warning. It is up to you
      to stay up to date on our policies.
      <br><br>
      We reserve the right to refuse to punish or terminate accounts expressing free speech.
      <br><br>
      Your account may be suspended or terminated at any time if you have been, or are suspected of violating our terms of service, with or without prior notice.
      <br><br>
      Please review the <a href="/accounts/legal/privacy-policy" style="color: gold;">privacy policy</a> for more information
      about the data we collect about you.
    </p>
  </div>

</article>

<!-- Include global footer -->
{% include '/components/footer.html' %}

</body>
</html>
