<!--
  This page will list every game by PyroNeon,
  with redirect links to each games' respective
  homepage.
 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>PyroNeon Software</title>
  <link rel="icon" href="static\favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static\css\index.css">
</head>

<body>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="static\Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/games">Games</a>
  <a href="/community">Community</a>
</div>

<div class="grid-container" style="margin-top: 0px;">

  <div class="grid1">
    <a href="/PuzzleMinefield">
      <img src="static\PuzzleMinefield\hd-banner.png" alt="Puzzle Minefield" style="max-width: 80%; max-height: 80%;">
    </a>
  </div>

</div>



<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="https://www.reddit.com/r/pyroneon/">Reddit</a>
  <a href="https://twitter.com/PyroNeonGames">Twitter</a>
  <a href="/community">Contact Us</a>
</div>

</body>
</html>
