<!--
     This is the landing page for the entire PyroNeon website.
     Here you will find information about the company as a whole.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>PyroNeon Software</title>
  <link rel="icon" href="static\favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static\css\index.css">
</head>

<body>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="static\Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/games">Games</a>
  <a href="/community">Community</a>
</div>


<article>

  <!-- Banner -->
  <img src="static\banner.png" alt="PyroNeon Banner" style="max-width: 50%; max-height: 50%;">

<br>

<header>
  <h1>
    About Us
  </h1>
</header>

<p style="margin-top: -50px;">
  We are a small indie software company, focusing mainly<br>
  on game production. Check out some of our upcoming projects <br>
  on the 'Games' tab. Let's make something fun!<br>
</p>

<br><br><br>

<header>
  <h1>
    The Team
  </h1>
</header>

<p style="font-size: 25px; margin-top: -50px;">
  Our team may be (particularly) small, but don't be fooled, <br>
  our games are great fun! And as such, they take a lot of <br>
  time and effort to create. Please consider supporting <br>
  our small studio by playing our games with your friends!
</p>

<a href="https://github.com/JLeopolt">
       <img src="static\ranee-pfp-high-vis.png" alt="JLeopolt Profile" style="max-width: 150px; max-height: 150px;">
       <h1 style="color: white; font-size: 30px; margin-top: -4px;">
         JLeopolt
       </h1>
       <p style="color: white; font-size: 20px; margin-top: -16px;">
         Founder
       </p>
</a>


</article>

<br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="https://www.reddit.com/r/pyroneon/">Reddit</a>
  <a href="https://twitter.com/PyroNeonGames">Twitter</a>
  <a href="/community">Contact Us</a>
</div>

</body>
</html>
