<!--
     This is the landing page for the entire PyroNeon website.
     Here you will find information about the company as a whole.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>PyroNeon Software</title>
  <link rel="icon" href="static\favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static\css\index.css">
</head>

<body>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="static\Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/games">Games</a>
  <a href="/community">Community</a>
</div>


<article>

  <!-- Banner -->
  <img src="static\banner.png" alt="PyroNeon Banner" style="max-width: 50%; max-height: 50%;">

<br>

<header>
  <h1>
    About Us
  </h1>
</header>


<section>

  <p>
    We are a small indie software company, focusing mainly on game production.<br>
    Check out some of our upcoming projects on the 'Games' tab.<br>
    Let's make something fun!<br>
  </p>

  <br>
</section>


</article>



<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="https://www.reddit.com/r/pyroneon/">Reddit</a>
  <a href="https://twitter.com/PyroNeonGames">Twitter</a>
  <a href="/community">Contact Us</a>
</div>

</body>
</html>
