<!--
  This page displays contact information for Puzzle Minefield
 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Puzzle Minefield</title>
  <link rel="icon" href="..\static\PuzzleMinefield\hd-spray-logo.png" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="..\static\css\puzzleMinefield.css">
</head>


<!-- Background video -->
<video autoplay muted loop id="backgroundVideo">
  <source src="..\static\PuzzleMinefield\bgvideo.mp4" type="video/mp4">
</video>

<body>

  <div class="main">
    <!-- The top navbar header.  -->
    <div class="navbar">
      <a href="/" class="logo">
        <img src="..\static\Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
      </a>

      <a href="/PuzzleMinefield">About</a>
      <a href="/PuzzleMinefield/downloads">Downloads</a>
      <a href="/PuzzleMinefield/FAQ">FAQ</a>
      <a href="/PuzzleMinefield/community">Support</a>
    </div>

    <div class="row">
      <!-- Banner -->
      <img src="..\static\PuzzleMinefield\hd-banner.png" alt="PuzzleMinefield Banner" style="max-width: 40%; max-height: 40%;">
      <br>
      <article>
        <header>
          <h1 style="margin-top: -30px;">
            Frequently Asked Questions
          </h1>
        </header>

        <header>
          <h3>
            What platforms can I play on?
          </h3>
        </header>

        <p style="margin-top: -50px;">
          Desktop, Android, and Web versions are currently planned. <br>
          However, currently, only Desktop is supported. Any desktop <br>
          that can run Java should be able to support the game.
        </p>

        <header>
          <h3>
            Do I download the .JAR or .EXE?
          </h3>
        </header>

        <p style="margin-top: -50px;">
          The Jar file is for computers with Java installed. <br>
          If you're running Windows, you can install the .EXE file.<br>
          There isn't a difference, but the EXE doesn't require <br>
          Java to be installed on your computer. <br>
          <button onclick="window.location.href='https://www.java.com/en/download/help/download_options.html';"
                  style="margin-top: 5px; margin-bottom: 5px;">
            Download Java Here!
          </button>
        </p>

        <header>
          <h3>
            I found a bug in the game!
          </h3>
        </header>

        <p style="margin-top: -50px;">
          Please let us know! Fill out this anonymous form <br>
          about your experiences! We are always looking<br>
          to patch bugs. Your reports will help make<br>
          the game more enjoyable for everyone! <br>

          <i style="font-size: 16px;">
          (If you choose to submit your email, we promise never to share it with anyone else.)
          </i>

          <br>

          <button onclick="window.location.href='https://forms.gle/jJkvXrN67hCTx2ot7';"
                  style="margin-top: 5px; margin-bottom: 5px;">
            Report a Bug
          </button>
        </p>

        <header>
          <h3>
            Is it free to play?
          </h3>
        </header>

        <p style="margin-top: -50px;">
          Puzzle Minefield will always be free to play. <br>
          In the future, there may be optional cosmetics or other <br>
          bonus features for sale. On some platforms, you may <br>
          have the choice to watch ads for in-game rewards.
        </p>

        <header>
          <h3>
            How do I make an account?
          </h3>
        </header>

        <p style="margin-top: -50px;">
          Currently, as of the Alpha release, accounts <br>
          are not implemented. There are no experience <br>
          or ELO metrics to track, and no official online <br>
          matchmaking servers.
        </p>

        <br> <br>

        <p>
          Have a different question? Ask us on our subreddit <br>
          or email us at pyroneonbusiness@gmail.com for help!
        </p>

        <br><br><br><br><br>
      </article>
    </div>

    <!-- Footer with extra links at the bottom of the page. -->
    <div class="footer">
      <a href="/">PyroNeon Software</a>
      <a href="https://www.reddit.com/r/pyroneon/">Reddit</a>
      <a href="https://twitter.com/PyroNeonGames">Twitter</a>
      <a href="https://forms.gle/jJkvXrN67hCTx2ot7">Report a Bug</a>
      <a href="/PuzzleMinefield/community">Community</a>
    </div>
  </div>

</body>
</html>
