<!--
  This page will list every product by PyroNeon,
  with redirect links to each product's respective
  homepage.
 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Products - PyroNeon</title>
  <link rel="icon" href="static\favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static\css\index.css">
</head>

<body>

<!-- The top navbar header.  -->
<div class="navbar">
  <a href="/" class="logo">
    <img src="static\Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
  </a>

  <a href="/">Home</a>
  <a href="/products">Products</a>
  <a href="/community">Community</a>
</div>


<div class="grid-container">

  <div class="grid-item" style="grid-area: head1">
    <a href="/PuzzleMinefield">
      <img src="static\PuzzleMinefield\hd-banner.png" alt="Puzzle Minefield" style="max-width: 90%; max-height: 90%;">
      <div class="paragraph">
        <p>
          PyroNeon's flagship game; Puzzle Minefield is a classic puzzle solving game, with competitive multiplayer gameplay.
        </p>
      </div>
    </a>
  </div>

  <div class="grid-item" style="grid-area: side1;">
    <a href="https://github.com/JLeopolt/CLIPnP">
      <img src="static\Game Tabs\CLIPnP-Logo.png" alt="CLIPnP">
      <div class="paragraph" style="margin-top: -8%;">
        <p>
          This lightweight Java command-line interface can automatically port-forward for you, with just a single command.
        </p>
      </div>
    </a>
  </div>

  <div class="grid-item" style="grid-area: slab1; padding-bottom: 10%;">
    <a href="/missing">
      <img src="static\Game Tabs\Scraps-Title-Logo.png" alt="Scraps" style="max-width: 90%; max-height: 90%;">
      <div class="paragraph" style="margin-top: -2%;">
        <p>
          A custom minecraft server which modifies aspects of survival, resource gathering, and gameplay.
        </p>
      </div>
    </a>
  </div>

</div>



<!-- Footer with extra links at the bottom of the page. -->
<div class="footer">
  <a href="/">Home</a>
  <a href="https://www.reddit.com/r/pyroneon/">Reddit</a>
  <a href="https://twitter.com/PyroNeonGames">Twitter</a>
  <a href="/community">Contact Us</a>
</div>

</body>
</html>
