<!--
     This is the landing page for the Puzzle Minefield page.
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Puzzle Minefield</title>
  <link rel="icon" href="static\PuzzleMinefield\hd-spray-logo.png" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static\css\puzzleMinefield.css">
</head>

<!-- Background video -->
<video autoplay muted loop id="backgroundVideo">
  <source src="static\PuzzleMinefield\bgvideo.mp4" type="video/mp4">
</video>


<body>
<div class="main">
  <!-- The top navbar header.  -->
  <div class="navbar">
    <a href="/" class="logo">
      <img src="static\Circular-PyroNeon-Crest.png" alt="PyroNeon Logo">
    </a>

    <a href="/PuzzleMinefield">About</a>
    <a href="/PuzzleMinefield/downloads">Downloads</a>
    <a href="/PuzzleMinefield/FAQ">FAQ</a>
    <a href="/PuzzleMinefield/community">Support</a>
  </div>


  <div class="row">
    <!-- Banner -->
    <img src="static\PuzzleMinefield\hd-banner.png" alt="PuzzleMinefield Banner" style="max-width: 50vw; max-height: 50vh;">

    <header>
      <h1>
        About
      </h1>
    </header>

    <article>
      <!-- Description about the game -->
      <section>

        <div class="paragraph">
          <p>
              Puzzle Minefield is a classic puzzle solving game,
              with enhancements such as cross-platform gameplay,
              and online progress tracking, but chiefly: Competitive Multiplayer
              gameplay. Play head to head with others in random matches for ranks
              and to climb the leaderboard, or host your own server and invite
              friends/strangers to play with you, through LAN or online gameplay.
              <br><br>
              It's easy to learn how to play! There are only 3 different controls
              you need to know, Left Click, Right Click, and Middle Click.
              Enjoy playing through and honing your skills by competing against
              others online. Although it's easy to learn, it's difficult to master
              with increasingly skilled players facing you and more difficult maps
              to solve.
              <br><br>
              Enjoy the custom graphics and sound design, with interchangeable
              resource packs available, pick your favorite skin and enjoy a whole new
              experience playing with it.
          </p>
        </div>

      </section>

      <header>
        <h1>
          Screenshots
        </h1>
      </header>

      <img src="static\PuzzleMinefield\Screenshots\1.png" class="screenshot" alt="Screenshot" style="max-width: 50%; max-height: 50%;">

      <img src="static\PuzzleMinefield\Screenshots\2.png" class="screenshot" alt="Screenshot" style="max-width: 50%; max-height: 50%;">

      <img src="static\PuzzleMinefield\Screenshots\3.png" class="screenshot" alt="Screenshot" style="max-width: 50%; max-height: 50%;">

      <img src="static\PuzzleMinefield\Screenshots\4.png" class="screenshot" alt="Screenshot" style="max-width: 50%; max-height: 50%;">

      <img src="static\PuzzleMinefield\Screenshots\5.png" class="screenshot" alt="Screenshot" style="max-width: 50%; max-height: 50%;">

      <img src="static\PuzzleMinefield\Screenshots\6.png" class="screenshot" alt="Screenshot" style="max-width: 50%; max-height: 50%;">

      <img src="static\PuzzleMinefield\Screenshots\7.png" class="screenshot" alt="Screenshot" style="max-width: 50%; max-height: 50%;">

      <img src="static\PuzzleMinefield\Screenshots\8.png" class="screenshot" alt="Screenshot" style="max-width: 50%; max-height: 50%;">

      <img src="static\PuzzleMinefield\Screenshots\9.png" class="screenshot" alt="Screenshot" style="max-width: 50%; max-height: 50%;">

      <img src="static\PuzzleMinefield\Screenshots\10.png" class="screenshot" alt="Screenshot" style="max-width: 50%; max-height: 50%;">

      <img src="static\PuzzleMinefield\Screenshots\11.png" class="screenshot" alt="Screenshot" style="max-width: 50%; max-height: 50%;">

      <img src="static\PuzzleMinefield\Screenshots\12.png" class="screenshot" alt="Screenshot" style="max-width: 50%; max-height: 50%;">

      <img src="static\PuzzleMinefield\Screenshots\13.png" class="screenshot" alt="Screenshot" style="max-width: 50%; max-height: 50%;">

      <img src="static\PuzzleMinefield\Screenshots\14.png" class="screenshot" alt="Screenshot" style="max-width: 50%; max-height: 50%;">


    </article>


  </div>


  <!-- Footer with extra links at the bottom of the page. -->
  <div class="footer">
    <a href="/">PyroNeon Software</a>
    <a href="https://www.reddit.com/r/pyroneon/">Reddit</a>
    <a href="https://twitter.com/PyroNeonGames">Twitter</a>
    <a href="https://forms.gle/jJkvXrN67hCTx2ot7">Report a Bug</a>
    <a href="/PuzzleMinefield/community">Community</a>
  </div>
</div>

</body>
</html>
