/* Depends on the wiki.css stylesheet for certain variable definitions. */

.searchSection{
  margin: 0.3em 1em 0.3em 0.5em;
	display: block;
	width: 267px;
	height: 23px;
  position: relative;
  float: right;
}

.searchWrapper {
	overflow: hidden;
	border: solid 1px #aaa;
	background: #F6F6F6;
	background: -moz-linear-gradient(top, var(--gradient-lb) 0%, var(--background) 100%);
	background: -webkit-linear-gradient(top, var(--gradient-lb) 0%, var(--background) 100%);
	background: linear-gradient(to bottom, var(--gradient-lb) 0%, var(--background) 100%);
  width: 100%;
  padding-left: 1px;
}
.searchWrapper input {
	background: transparent;
	border: none;
	vertical-align: top;
	height: 23px;
	width: 230px;
	font-size: 0.8em;
	color: var(--text-primary);
}
.searchWrapper input:focus {
  outline: none;
}
#searchButton {
	background-image: var(--search-icon);
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
	height: 23px;
	width: 23px;
	cursor: pointer;
	vertical-align: top;
}

#resultsContainer {
  border: solid 1px #aaa;
  display: none;
  word-wrap: normal;
  background: var(--search-results-bg);
  /* Set a max height so the page doesn't have to scroll to accommodate results */
  overflow: visible auto;
  max-height: 50vh;
  /* To fix border issues */
  padding-right: 1px;
  padding-bottom: 1px;
  text-align: center;
  width: 100%;

  position: absolute;
  top: 120%;
  left: 0;
  z-index: 2;
}
#resultsContainer i{
  /* Don't capitalize quotes. */
  text-transform: none;
  font-size: 0.8em;
}
#resultsContainer a{
  /* Create a border without having the border collapse issue. */
  --border-color: rgba(150,150,150,0.7);
  box-shadow:
    1px 0 0 0 var(--border-color),
    0 1px 0 0 var(--border-color),
    1px 1px 0 0 var(--border-color),
    1px 0 0 0 var(--border-color) inset,
    0 1px 0 0 var(--border-color) inset;

  font-family: sans-serif;
  font-size: 1em;
  color: var(--text-primary);

  display: block;
  text-transform: capitalize;
  margin: 0;
  padding: 0.3em 0;
}
#resultsContainer a:hover{
  background: var(--search-results-hover);
  text-decoration: none;
}


.searchResultTitle {
  color: var(--search-results-title);
}
.searchResultHighlight {
  color: var(--search-results-highlight);
}
/* Styles the 'No Results Found' message */
.emptyResultNotice {
  font-size: 1em;
  color: var(--border-underline);
  padding: 0.5em 0;
}



@media screen and (max-width: 850px) {
	#searchInput {
		width: 110px;
	}
	#simpleSearch {
		width: 138px;
	}
}
@media screen and (max-width: 400px) {
	#simpleSearch {
		display: none;
	}
}
