/* Import navbar/footer stuff */
@import "../../Global/css/header-navbar.css";

/* Style the body */
body {
  font-family: NewTown;
  background: #1C1C1C;
  margin: 0;
  padding: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
}

/* Increase the font size of the headings */
h1 {
  font-size: 3.125vw;
  font-family: HighwayGothic;
  margin: 0;
  color: white;
}

p {
  font-family: HighwayGothic;
  font-size: 1.5625vw;
  color: #C9C9C9;
}

/* Wrap paragraphs into blocks without using <br> */
.paragraph {
  inline-size: 25%;
  overflow-wrap: break-word;
  margin: auto;
  padding-bottom: 3rem;
}

.main{
  position: relative;
  left:0;
  margin-left: auto;
  margin-right: auto;
}

article{
  display: table;
  text-align:center;
  /* height: 100vh; */
  width: 100%;
  color:white;
  text-decoration: none;
  font-family: HighwayGothic;
}
article p{
  margin: 0;
}
article a{
  text-decoration: none;
  display: inline-block;
  color:white;
  margin-left: auto;
  margin-right: auto;
}

#logoBanner{
  margin: auto;
  max-width: 40%;
  max-height: 40%;
}

@media (orientation: portrait) {
  h1{
    font-size: 3rem;
  }
  p{
    font-size: 1.5rem;
  }
  .paragraph {
    inline-size: 100%;
  }
  #logoBanner{
    max-width: 100%;
    max-height: 100%;
  }
}

.form-table{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0 2vw;
}
.form-label {
  font-family: HighwayGothic;
  font-size: 2vw;
  padding-right: 0.5vw;
}
.input-text-field {
  font-family: HighwayGothic;
  box-sizing: border-box;
  font-size: 1.5vw;
  padding: 0.5vw;
}
.big-input-text-field{
  font-family: HighwayGothic;
  box-sizing: border-box;
  font-size: 3vw;
  padding: 0.5vw;
}
.submitButton{
  font-family: HighwayGothic;
  padding: 0.5vw;
  font-size: 1.75vw;
  color: white;
  background-color: #0098FF;
  transition: 0.3s;
  border: none;
}
.submitButton:hover{
  background-color: #58BCFF;
  transition: 0.3s;
  cursor: pointer;
}
.show-password{
  font-size: 1.5vw;
}

@media (orientation: portrait) {
  .form-table{
    border-spacing: 0 2vh;
  }
  .form-label {
    font-size: 2vh;
    padding-right: 0.5vh;
  }
  .input-text-field {
    font-size: 2vh;
    padding: 0.5vh;
  }
  .big-input-text-field{
    font-size: 4vh;
    padding: 0.5vh;
  }
  .submitButton{
    padding: 0.5vh;
    font-size: 2vh;
  }
  .show-password{
    font-size: 1.0vh;
  }
}
