/* Import navbar/footer stuff */
@import "/static/Global/css/header-navbar.css";

/* Style the body */
body {
  font-family: NewTown;
  background: #1C1C1C;
  margin: 0;
  padding: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
}

/* Increase the font size of the headings */
h1 {
  font-size: 3.125vw;
  font-family: HighwayGothic;
  margin: 0;
  color: white;
}

p {
  font-family: HighwayGothic;
  font-size: 1.5625vw;
  color: #C9C9C9;
}

@media (orientation: portrait) {
  h1{
    font-size: 3rem;
  }
  p{
    font-size: 1.5rem;
  }
}

.logoutLink{
  color:#0098FF;
  cursor:pointer;
  text-decoration: none;
}
.logoutLink:hover{
  color:white;
}

.grid-container {
  display: grid;
  grid-gap: 2vh;
  margin: auto;
  z-index: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Fix clashing issue with slideshow */
.navbar, .footer{
  z-index: 2;
}

@media (orientation: portrait) {
  .grid-container{
    /* Vertical Grid */
    grid-template-columns: 1fr;
    width: 90%;
    /* grid-gap: 2vh; */
  }
}

:root {
  --grid-item-size: 20vh;
  --grid-item-size-grow: calc(var(--grid-item-size) + 2vh);
}
@media (orientation: portrait) {
  :root {
    --grid-item-size-grow: calc(var(--grid-item-size) + 0.5vh;);
  }
}

.grid-item{
  height: var(--grid-item-size);
  width: var(--grid-item-size);
  background-color: black;
  background-size: cover;
  text-align: center;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
}
/* Change color on hover */
.grid-item:hover {
  background-color: #333333;
  height: var(--grid-item-size-grow);
  width: var(--grid-item-size-grow);
}
.grid-container a{
  font-size: 1.5625vw;
  text-decoration: none;
  font-family: HighwayGothic;
  color: white;
}
.grid-item h1{
  font-size: 2.1vw;
  text-decoration: none;
  color: white;
  /* -webkit-text-stroke: 0.5px black; */
  /* paint-order: stroke fill; */
}
.grid-item img{
  max-width: 100%;
  max-height: 100%;
}

.twitter-timeline{
  width: 33%;
  margin: auto;
}

@media (orientation: portrait) {
  .grid-item h1{
    font-size: 1.5rem;
  }
  .grid-item {
    width: 66%;
    height: 100%;
    margin: auto;
    padding: 0.5vh 0;
  }
  .twitter-timeline{
    width: 90%;
  }
}
