/* Import navbar/footer stuff */
@import "/static/Global/css/header-navbar.css";

/* Style the body */
body {
  font-family: NewTown;
  background: #1C1C1C;
  margin: 0;
  padding: 0;
  text-align: center;

  min-height: 90vh;
  display: flex;
  flex-flow: column;
  /* height: 100%; */
}
/* Increase the font size of the headings */
h1 {
  font-size: 3.125vw;
  font-family: HighwayGothic;
  margin: 0;
  color: white;
}
p {
  font-family: HighwayGothic;
  font-size: 1.5625vw;
  color: #C9C9C9;
}
@media (orientation: portrait) {
  h1{
    font-size: 3rem;
  }
  p{
    font-size: 1.5rem;
  }
}

.friendPanel {
  background-color: #2B2B2B;
  inline-size: 33%;
  margin: auto;
  flex: 1 1 auto;

  border: none;
  border-collapse:collapse;
  border-spacing: 0;
  table-layout: fixed;
}
.friendPanel thead {
  background-color: black;
}
.friendPanel th {
  font-family: HighwayGothic;
  font-size: 1.3vw;
  color: white;
  background-color: black;
  padding: 0.5vw 1vw;
}
.friendPanel th:hover {
  background-color: #343434;
}

.friendEntry {
  cursor: pointer;
  height: 10%;
  overflow: hidden;
}
.friendEntry:hover{
  background-color: #414141;
}
.nameBadge{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nameBadge img {
  max-width: 10%;
  max-height: 10%;
  display: inline-block;
  padding-right: 2%;
}
.nameBadge p {
  font-size: 1.9vw;
  text-decoration: none;
  margin: 0;
  display: inline-block;
}

.pageButton{
  font-family: HighwayGothic;
  font-size: 1vw;
  color: #C9C9C9;
  background-color: inherit;
  border: none;
  outline: none;
}
.pageButton:hover {
  background-color: #484848;
}
