/* Import navbar/footer stuff */
@import "/static/Global/css/header-navbar.css";

/* Style the body */
body {
  font-family: NewTown;
  background: #1C1C1C;
  margin: 0;
  padding: 0;
  text-align: center;

  min-height: 90vh;
  display: flex;
  flex-flow: column;
  /* height: 100%; */
}
/* Increase the font size of the headings */
h1 {
  font-size: 3.125vw;
  font-family: HighwayGothic;
  margin: 0;
  color: white;
}
p {
  font-family: HighwayGothic;
  font-size: 1.5625vw;
  color: #C9C9C9;
}
@media (orientation: portrait) {
  h1{
    font-size: 3rem;
  }
  p{
    font-size: 1.5rem;
  }
}

.searchField {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  inline-size: 33%;
}
.input-text-field {
  display: inline-block;
  font-family: HighwayGothic;
  font-size: 1.5vw;
  border: 0;
  outline: none;

  padding: 0.5vw;
  margin-right: 0.5%;

  width: 100%;
  align-self: stretch;
}
#searchSubmitButton{
  /* this makes the button same size as entry field! */
  align-self: stretch;
  max-width: 8%;
  max-height: 8%;
  display: inline-block;
  font-size: 0;
}
#searchSubmitButton img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}

@media (orientation: portrait) {
  .input-text-field {
    font-size: 2vh;
    padding: 0.5vh;
  }
  .searchField {
    inline-size: 100%;
  }
}

.resultPanel {
  background-color: #2B2B2B;
  inline-size: 33%;
  margin: auto;
  flex: 1 1 auto;

  border: none;
  border-collapse:collapse;
  border-spacing: 0;
  table-layout: fixed;
}
.resultPanel thead {
  background-color: black;
}
.resultPanel th {
  font-family: HighwayGothic;
  font-size: 1.3vw;
  color: white;
  background-color: black;
  padding: 0.5vw 1vw;

  cursor: pointer;
}
.resultPanel th:hover {
  background-color: #343434;
}

.resultEntry {
  cursor: pointer;
  height: 10%;
  overflow: hidden;
}
.resultEntry:hover{
  background-color: #414141;
}

.nameplate{
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
}
.nameBadge {
  padding-left: 5%;
  flex-grow: 2;
  display: inline-flex;
  /* justify-content: center; */
  justify-content: flex-start;
  align-items: center;
}
.nameBadge img {
  max-width: 15%;
  max-height: 15%;
  display: inline-block;
  padding-right: 5%;
}
.nameBadge p {
  font-size: 2vw;
  text-decoration: none;
  margin: 0;
  display: inline-block;
}

.nameplate button {
  max-width: 10%;
  max-height: 10%;
  display: inline-block;
  font-size: 0;
  margin-right: 3%;
}
.nameplate button img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}

.pageButton{
  font-family: HighwayGothic;
  font-size: 1vw;
  color: #C9C9C9;
  background-color: inherit;
  border: none;
  outline: none;
}
.pageButton:hover {
  background-color: #484848;
}

@media (orientation: portrait) {
  .resultPanel {
    inline-size: 100%;
  }
  .nameBadge p {
    font-size: 2rem;
  }
  .pageButton{
    font-size: 1.5rem;
  }
}
