/* Define custom font */
@font-face {
   font-family: NewTown; src: url('../../Global/NEWTOW_.TTF');
   font-family: HighwayGothic; src: url('../../Global/HWYGNRRW.TTF');
}

html {
  min-height: 100%;
  background-repeat:no-repeat;
  background-size: cover;
  /* background: linear-gradient(0deg, rgba(255,111,0,1) 0%, rgba(255,196,44,1) 100%); */
  background-color: #323232;
  scroll-behavior: smooth;
}

/* Style the body */
body {
  font-family: NewTown;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  /* display: flex;
  flex-direction: column; */
}




/* Wrap paragraphs into blocks without using <br> */
article p, article h1, article h2, article h3, article a {
  inline-size: 75%;
  overflow-wrap: break-word;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;

  color:white;
  text-shadow: 3px 3px 2px black;
  text-decoration: none;
  font-family: HighwayGothic;
  font-size: 30px;

  scroll-margin-top: 5rem;
}
.sidebar article p, article h1, article h2, article h3, article a{
  inline-size: 90%;
  overflow-wrap: none;
}
article h1 {
  font-size: 60px;
  font-family: HighwayGothic;
  color: gold;
}
article h2 {
  font-size: 50px;
  color: #0098FF;
}
article h3 {
  font-size: 40px;
}
article a {
  color: gold;
}
article a:hover {
  color: yellow;
}


section{
  scroll-margin-top: 5rem;
}



.sidebar{
  width: 20%;
  height: 100%;
  min-height: 100%;
  background-color: #181818;

  position: fixed;
  top: 2ch;
  left: 0;
  display: inline-block;
}
.content{
  width: 80%;
  min-height: 100%;
  margin-left: 20%;
  display: inline-block;
  padding-bottom: 10%;
}

.head-link, .major-link, .minor-link{
  text-align: left;
  text-shadow: 0px 0px 0px black;
}
.head-link{
  color: gold;
  padding-inline-start: 1ch;
  font-size: 45px;
}
.major-link{
  color: #0098FF;
  padding-inline-start: 3ch;
  font-size: 40px;
}
.minor-link{
  color: white;
  padding-inline-start: 8ch;
  font-size: 30px;
}
.head-link:hover, .major-link:hover , .minor-link:hover{
  background-color: #FF7800;
  color: white;
}

details summary a{
  display: inline-block;
}

/* Affects the drop-down arrow on the sidebar links. */
details summary::marker {
  align-items: center;
  color: white;
}



table {
  /* border-spacing: 2px; */
  border-collapse: collapse;
  background-color: #696969;
  color:white;
  text-shadow: 3px 3px 2px black;
  text-decoration: none;
  font-family: HighwayGothic;
  font-size: 25px;

  margin: auto;
}
td{
  padding: 1%;
  padding-left: 2ch;
  padding-right: 2ch;
  border: 1px solid #444444;
}
tr{
  border: 1px solid #444444;
}
.tr-head{
  background-color: #444444;
}




/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: black;
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 10;
}

/* Style the navigation bar links */
.navbar a {
  flex: none;
  /* float: left; */
  display: inline-table;
  vertical-align: middle;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 0px black;
  font-family: NewTown;
  font-size: 40px;

  padding: 10px 10px 10px 10px;
  text-decoration: none;
  width: calc(25% - 50px);
  height: 50px;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Logo in the Navbar */
.navbar img{
  width:50px;
  height:50px;
}
.navbar a.logo {
  /* padding: 5px 10px; */
  width: 50px;
  height: 50px;
  vertical-align: middle;
  /* display: flex; */
  text-align: bottom;
}

/* Footer styles */
.footer {
  text-shadow: 0px 0px 0px black;
  font-size: 16px;
  flex: none;
  width: 100%;
  text-align: center;
  position:fixed;
  bottom:0;
  left:0;
  background-color: black;
}

.footer a {
  /* float: left; */
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  width: 10%;
  position: relative;
}

/* Change color on hover */
.footer a:hover {
  background-color: #ddd;
  color: black;
}






/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }

  .paragraph {
    inline-size: 75%;
  }
}
